{% load static %}
<script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

<nav class="navbar navbar-expand navbar-dark bg-primary">
  <a class="navbar-brand" id="nav_link0" href="{% url 'index01' %}">
    <span class="fa fa-home ml-1"></span>
  </a>
  <div class="navbar-collapse collapse" id="collapsingNavbar">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="//codeply.com">Codeply</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#myAlert" data-toggle="collapse">Link</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="" data-target="#myModal" data-toggle="modal">About</a>
      </li>
    </ul>
  </div>
</nav>

<style>
  @media (min-width: 768px) {
    .navbar-brand.abs {
      position: absolute;
      width: 100%;
      left: 0;
      text-align: center;
    }
  }
</style>
