{% extends 'myApp/_base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
  <script type="text/javascript" src="{% static 'js/jquery.barrating.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/fontawesome-apple.css' %}">
  <link rel="stylesheet" href="{% static 'css/bars-1to10.css' %}">

  <script type="text/javascript">
    $(function () {
      $('#example').barrating({theme: 'bars-1to10'});
    });

    //////////////////register selected commodity
    $('#btn_add1').click(function () {
      $('#Modal_localCrop').modal('show');
    });
    //////////////////
  </script>

  <select id="example">
    <option value="s"></option>
    <option value="a2"></option>
    <option value="3g"></option>
    <option value="4foo"></option>
    <option value="5"></option>
  </select>
  <a id="btn_add1" class="btn btn-outline-secondary text-dark mt-2 my-0 py-0 btn-sm" data-toggle="modal" data-target="#Modal_localCrop">
    add
  </a>
  <!-- モーダルの設定3 ----------------------------->
  <div class="modal fade" id="Modal_localCrop" tabindex="-1" role="dialog" aria-labelledby="Modal_localCropLabel">
    <div class="modal-dialog " role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add/remove food item</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="close">
            <span class="text-danger" aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-dark">
          <div class="my-2" id="myFilter">Food group:
          </div>
          <table id="localCrop" class="display compact" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>s</th>
                <th>Name</th>
                <th>En</th>
                <th>Pr</th>
                <th>VA</th>
                <th>Fe</th>
                <th>c</th>
              </tr>
            </thead>

            <tfoot>
              <tr>
                <th>s</th>
                <th>Name</th>
                <th>En</th>
                <th>Pr</th>
                <th>VA</th>
                <th>Fe</th>
                <th>c</th>
              </tr>
            </tfoot>
          </table>
          <a id="btn_exit01" class="btn btn-outline-secondary text-dark mt-2 my-0 py-0 btn-sm">close</a>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
  <!-------------------------------------->

{% endblock %}
