{% extends 'myApp/base.html' %}
{% block content %}
{% load static %}
<br><br><br>

This software was developed by IFNA with a support from JICA, UNICEF.

<div class="container">
    <div class="card border-primary col-12 mt-2" style="max-width: 540px;">
      <img class="card-img-top" src="{% static 'img/ifna_logo.png' %}" alt="IFNA">
      <div class="card-body">
        <h4 class="card-title">IFNA</h4>
        <p class="card-text">IFNA is international framework for African </p>
      </div>
    </div>

    <div class="card border-primary col-12 mt-2" style="max-width: 540px;">
      <img class="card-img-top" src="#" alt="UNICEF LOGO">
      <div class="card-body">
        <h4 class="card-title">UNICEF</h4>
        <p class="card-text">UNICEF is ... </p>
      </div>
    </div>

</div>



{% endblock %}
