{% extends "myApp/base.html" %}
<!--  -->
{% block content %}
<div class="container"  style="max-width: 540px;">
    <h2 class="text-center">Delete data</h2>
    <p>Deta will be deleted. Are you OK?</p>

    <form action="" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-12">
                <div class="float-right">
                    <a class="btn btn-outline-secondary" href="{% url 'crop_list' familyid %}">return</a>
                    <input type="submit" class="btn btn-outline-secondary" value="delete" name="confirm_delete" />
                </div>
            </div>
        </div>
        {% include "./crop_card.html" %}
        <div class="row">
            <div class="col-12">
                <div class="float-right">
                    <a class="btn btn-outline-secondary" href="{% url 'crop_list' familyid %}">return</a>
                    <input type="submit" class="btn btn-outline-secondary" value="delete" name="confirm_delete"  />
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
