<div class="row">
    <div class="col-3">
        <p>id</p>
    </div>
    <div class="col-9">
        <p>{{ object.id }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>Food Name</p>
    </div>
    <div class="col-9">
        <p>{{ object.myFCT.Food_name }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>Energy</p>
    </div>
    <div class="col-9">
        <p>{{ object.myFCT.Energy }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>Protein</p>
    </div>
    <div class="col-9">
        <p>{{ object.myFCT.Protein }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>VitA</p>
    </div>
    <div class="col-9">
        <p>{{ object.myFCT.VitA }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>Iron</p>
    </div>
    <div class="col-9">
        <p>{{ object.myFCT.FE }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>Feasibility Score</p>
    </div>
    <div class="col-9">
        <p>{{ object.crop_score }}</p>
    </div>
</div>
