{% extends "myApp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load humanize %}
{{ form.certifications.errors }}

<div class="container">
  <form method="post" id="myform">
    {% csrf_token %}
    <div class="row">
        <div class="col-12">
            <h3 class="text-center">crop feasibility assessment</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="float-right">
              <a class="btn btn-outline-secondary" href="{% url 'crop_list' familyid=myid %}">return</a>
              <button class="btn btn-outline-secondary" type="submit">save</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
          {{ form|crispy }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="float-right">
              <a class="btn btn-outline-secondary" href="{% url 'crop_list' familyid=myid %}">return</a>
              <button class="btn btn-outline-secondary" type="submit">save</button>
            </div>
        </div>
    </div>
  </form>
</div>
{% endblock %}
