{% extends 'myApp/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
  <script type="text/javascript" src="{% static 'DataTables/js/jquery.dataTables.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'DataTables/js/dataTables.select.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'DataTables/css/jquery.dataTables.min.css' %}" media="screen">
  <link rel="stylesheet" type="text/css" href="{% static 'DataTables/css/select.dataTables.min.css' %}" media="screen">

  <script>
    // URLパラメータの取得
    var myFamily = '';
    var myRoot = '';
    var items = [];

    // グローバル変数の作成
    var selected_rows_id = []
    var selected_org = {{myselected|safe}};
    var jsonData = {{mydata|safe}};

    getHTML_param = function () {
      var url_tmp = window.location.href.split('/');
      var tmp1 = url_tmp[url_tmp.length - 3];
      var tmp2 = url_tmp[url_tmp.length - 2];
      url_tmp.pop();
      url_tmp.pop();
      url_tmp.pop();
      url_tmp.pop();
      myRoot = url_tmp.join("/") + '/';
      myFamily = tmp1;
      items.length = 0;
      if (tmp2 == '0') {
        items.push('0');
      } else if (tmp2.indexOf('-') < 0) {
        items.push(tmp2);
      } else {
        items = tmp2.split('-');
      }
      return tmp1;
    }

    //////////////////add selected rows to text box
    $(document).ready(function () {
      var mytable = $('#croplist').DataTable({
        data: jsonData,
        "pageLength": 50,
        "columns": [
          {
            "data": "row_sel"
          }, {
            "data": "Food_grp"
          }, {
            "data": "Food_name"
          }
        ],
        "columnDefs": [
          {
            targets: [
              1, 2
            ],
            visible: true
          }, {
            targets: '_all',
            visible: false
          }
        ],
        //////////////////all the initialization process after this
        "initComplete": function (settings, json) {
          getHTML_param();

          //////////////////add filtering dropdown list
          this.api().columns([1]).every(function () {
            var column = this;
            var select = $('<select class="selectpicker" style="max-width: 250px;"><option value=""></option></select>').appendTo($('#newSearchPlace')).on('change', function () {
              var val = $.fn.dataTable.util.escapeRegex($(this).val());

              column.search(
                val
                  ? '^' + val + '$'
                  : '',
                true,
                false
              ).draw();
            });

            column.data().unique().sort().each(function (d, j) {
              select.append('<option value="' + d + '">' + d + '</option>');
            });
          });

        } ////// finish initcomplete//////////
      }); //////mytable setup complete/////

      //////////////////crop calendar edit function////
      $('#selected_crops_tbl').on("click", "td", function () {
        let tmp = Number($(this).text());
        let x = $(this)[0].cellIndex;
        let y = $(this).closest('tr').index();
        let tmp_food_id = $('#selected_crops_tbl tr').eq(y).children('td').eq(13).text();
        tmp = (tmp + 1) % 4;
        switch (tmp) {
          case 0:
            $(this).css("background-color", "");
            tmp = "";
            break;
          case 1:
            $(this).css("background-color", "red");
            $(this).css("color", "red");
            break;
          case 2:
            $(this).css("background-color", "yellow");
            $(this).css("color", "yellow");
            break;
          case 3:
            $(this).css("background-color", "blue");
            $(this).css("color", "blue");
            break;
        }
        $(this).html(tmp);
        let res = get_selected_food();
        let tmp_id = res.indexOf(Number(tmp_food_id));
        /*
        console.log('tr: ' + y + ', td:' + x);
        console.log('tmp_food_id: ' + tmp_food_id);
        console.log('res: ' + res.join('-'));
        console.log('tmp_id: ' + tmp_id);
        console.log('halo: ' + selected_org[tmp_id]['m1']);
        */
        selected_org[tmp_id]['m' + String(x)] = tmp;

      });

      /////////////////// initialize myTable///
      drawSelected2(selected_org);

      var res = get_selected_food();

      mytable.rows().every(function (rowIdx, tableLoop, rowLoop) {
        var data = this.data();
        if (res.indexOf(data.food_item_id) >= 0) {
          this.select();
        }
      });

      //////////////////on click -> crop list /
      $('#croplist tbody').on('click', 'tr', function () {
        $(this).toggleClass('selected');
        let res = get_selected_food();
        let d = [];
        mytable.rows('.selected').every(function (rowIdx, tableLoop, rowLoop) {
          let data = this.data();
          let dd = {};
          dd["row_sel"] = "0";
          dd["Food_grp"] = data.Food_grp;
          dd["Food_name"] = data.Food_name;
          dd["food_item_id"] = data.food_item_id;
          let tmp_id = res.indexOf(data.food_item_id);
          //          console.log('tmp_id:' + tmp_id + ', food_id:' + data.food_item_id);
          if (tmp_id > 0) {
            dd["m1"] = selected_org[tmp_id].m1;
            dd["m2"] = selected_org[tmp_id].m2;
            dd["m3"] = selected_org[tmp_id].m3;
            dd["m4"] = selected_org[tmp_id].m4;
            dd["m5"] = selected_org[tmp_id].m5;
            dd["m6"] = selected_org[tmp_id].m6;
            dd["m7"] = selected_org[tmp_id].m7;
            dd["m8"] = selected_org[tmp_id].m8;
            dd["m9"] = selected_org[tmp_id].m9;
            dd["m10"] = selected_org[tmp_id].m10;
            dd["m11"] = selected_org[tmp_id].m11;
            dd["m12"] = selected_org[tmp_id].m12;
          } else {
            dd["m1"] = 0;
            dd["m2"] = 0;
            dd["m3"] = 0;
            dd["m4"] = 0;
            dd["m5"] = 0;
            dd["m6"] = 0;
            dd["m7"] = 0;
            dd["m8"] = 0;
            dd["m9"] = 0;
            dd["m10"] = 0;
            dd["m11"] = 0;
            dd["m12"] = 0;
          }
          d.push(dd);
        });
        selected_org = d;
        drawSelected2(selected_org);
      });

      ////// get selected food list /
      function get_selected_food() {
        var res = [];
        selected_org.map(function (i, j) {
          let sel_id = i["food_item_id"];
          res.push(sel_id);
        });
        return res;
      }

      /*
      //////////////////re-draw all selected raws into #croplist
      function drawSelected() {
        jQuery('#selected_crops_tbl tr').remove();
        selected_rows_id.length = 0;
        cr = '<tr><th class="px-0 text-sm-center">name</th><th class="px-0">01</th><th class="px-0">02</th><th class="px-0">03</th><th class="px-0">04</th><th class="px-0">05</th><th class="px-0">06</th><th class="px-0">07</th><th class="px-0">08</th><th class="' +
            'px-0">09</th><th class="px-0">10</th><th class="px-0">11</th><th class="px-0">12</th><th class="px-0 hide_dom">food id</th></tr>';
        mytable.rows('.selected').every(function (rowIdx, tableLoop, rowLoop) {
          var data = this.data();
          cr += '<tr><td class="px-0 text-sm-center">' + data.Food_name + '</td>';
          cr += '<td class="px-0 text-sm-center"></td>';
          cr += '<td class="px-0 text-sm-center"></td>';
          cr += '<td class="px-0 text-sm-center"></td>';
          cr += '<td class="px-0 text-sm-center"></td>';
          cr += '<td class="px-0 text-sm-center"></td>';
          cr += '<td class="px-0 text-sm-center"></td>';
          cr += '<td class="px-0 text-sm-center"></td>';
          cr += '<td class="px-0 text-sm-center"></td>';
          cr += '<td class="px-0 text-sm-center"></td>';
          cr += '<td class="px-0 text-sm-center"></td>';
          cr += '<td class="px-0 text-sm-center"></td>';
          cr += '<td class="px-0 text-sm-center"></td>';
          cr += '<td class="px-0 text-sm-center hide_dom">' + data.food_item_id + '</td>';
          cr += '<td class="px-0 text-sm-center hide_dom">' + myFamily + '</td>';
          cr += '</tr>';
          selected_rows_id.push(rowIdx);
        });
        jQuery('#selected_crops_tbl').append(cr);
        return;
      }
*/
      //////////////set cell color////////////////
      function SetCellColor(cNum) {
        switch (cNum) {
          case 0:
            $(this).css("background-color", "");
            res = '<td class="px-0 text-sm-center"></td>';
            break;
          case 1:
            res = '<td class="px-0 text-sm-center" style ="background-color:red"><font color="red">1</font></td>';
            break;
          case 2:
            res = '<td class="px-0 text-sm-center" style ="background-color:yellow"><font color="yellow">2</font></td>';
            break;
          case 3:
            res = '<td class="px-0 text-sm-center" style ="background-color:blue"><font color="blue">3</font></td>';
            break;
        }
        return res;
      }

      //////////////////re-draw all selected raws into #croplist
      function drawSelected2(mylist) {
        if (mylist.length == 0)
          return;

        jQuery('#selected_crops_tbl tr').remove();
        selected_rows_id.length = 0;
        cr = '<tr><th class="px-0 text-sm-center">name</th><th class="px-0">01</th><th class="px-0">02</th><th class="px-0">03</th><th class="px-0">04</th><th class="px-0">05</th><th class="px-0">06</th><th class="px-0">07</th><th class="px-0">08</th><th class="' +
            'px-0">09</th><th class="px-0">10</th><th class="px-0">11</th><th class="px-0">12</th><th class="px-0 hide_dom">food id</th></tr>';
        for (var data in mylist) {
          cr += '<tr><td class="px-0 text-sm-center">' + mylist[data].Food_name + '</td>';
          cr += SetCellColor(mylist[data].m1);
          cr += SetCellColor(mylist[data].m2);
          cr += SetCellColor(mylist[data].m3);
          cr += SetCellColor(mylist[data].m4);
          cr += SetCellColor(mylist[data].m5);
          cr += SetCellColor(mylist[data].m6);
          cr += SetCellColor(mylist[data].m7);
          cr += SetCellColor(mylist[data].m8);
          cr += SetCellColor(mylist[data].m9);
          cr += SetCellColor(mylist[data].m10);
          cr += SetCellColor(mylist[data].m11);
          cr += SetCellColor(mylist[data].m12);
          cr += '<td class="px-0 text-sm-center hide_dom">' + mylist[data].food_item_id + '</td>';
          cr += '<td class="px-0 text-sm-center hide_dom">' + myFamily + '</td>';
          cr += '</tr>';
        };
        jQuery('#selected_crops_tbl').append(cr);
        return;
      }

      ////// csrf_tokenの取得に使う//////////////
      function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
            }
          }
        }
        return cookieValue;
      }

      function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }

      function Set_CRSF() {
        var csrf_token = getCookie("csrftoken");
        $.ajaxSetup({
          crossDomain: false, // obviates need for sameOrigin test
          beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type)) {
              xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
          }
        });
        return;
      }

      //////////////////get data from table
      function getTblData() {
        let d = [];
        $('#selected_crops_tbl tr').each(function (i, e) {
          let dd = {};
          let myFCT_id
          if (i != 0) {
            $(this).find('td').each(function (j, el) {
              let tmp = $(this).text();
              if (tmp == "") {
                tmp = '0'
              };
              switch (true) {
                case j > 0 && j < 13:
                  dd['m' + String(j)] = tmp;
                  break;
                case j == 13:
                  dd['myFCT_id'] = tmp;
                  break;
                case j == 14:
                  dd['myFamily_id'] = tmp;
                  break;
              }
            });
            d.push(dd);
          }
        });
        return {"myJson": d};
      };
      //////////////////sendJson////
      function sendJson(myjson, hostUrl) {
        $.ajax({
          type: 'post',
          url: hostUrl,
          data: JSON.stringify(myjson),
          contentType: 'application/JSON',
          dataType: 'JSON',
          scriptCharset: 'utf-8'
        }).then(
          // Success
          function (response) {
            //alert("success");
            $("#response").html(JSON.stringify(response));
          },
          // error
          function (response) {
            //                alert("error");
            $("#response").html(JSON.stringify(response));
          },
        );
      };
      //////////////send crop list to django////
      $("#save_button").click(function () {
        var hostUrl = myRoot + 'registCropAvail/';
        var mydat = getTblData();
        Set_CRSF();
        alert(JSON.stringify(mydat));
        sendJson(mydat, hostUrl);
      }); ///////////////////
    }); ////finish $(document).ready///////////////////
  </script>

  <style>
    .hide_dom {
      display: none;
    }
  </style>

  <div class="container text-white" style="max-width:570px;">
    <div class="card border-primary bg-info col-12 mt-2 py-0" style="max-width: 540px;">
      <div class="row">
        <div class="col-12">
          <div class="card-body py-0 px-0">
            <p class="card-title text-warning my-0">
              availability
              <span style="color:red">■</span>: market&prod
              <span style="color:yellow">■</span>: prod only
              <span style="color:blue">■</span>: market only
            </p>

            <div class="table-responsive">
              <div id="selected_crops_tbl" class="table table-bordered table-striped mx-0 px-0"></div>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="hide_dom"></td>
                <td class="hide_dom"></td>
              </tr>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <span>
          <a id="save_button" class="btn btn-outline-secondary text-dark mt-2 my-0 py-0 btn-sm">save</a>
          <textarea id="response" cols="60" rows="10" disabled="disabled"></textarea>
        </span>
      </div>
    </div>
  </div>

  <hr>
  <div class="container" style="max-width: 540px;">
    <div class="my-2" id="newSearchPlace">Food group:
    </div>
    <table id="croplist" class="display compact" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Group</th>
          <th>Group</th>
          <th>Name</th>
        </tr>
      </thead>

      <tfoot>
        <tr>
          <th>Group</th>
          <th>Group</th>
          <th>Name</th>
        </tr>
      </tfoot>
    </table>
  </div>

{% endblock %}
