{% extends 'myApp/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}

	<div class="container float-left" style="max-width: 540px;">
		<div class="row">
			<div class="col-7 text-danger">
				{{name}}
			</div>
			<div class="col-5">
					<span><a class="btn  badge btn-outline-secondary" href="{% url 'Family_index' %}">back</a></span>
					<span><a class="btn  badge btn-outline-secondary" href="{% url 'crop_create' familyid=myid %}">add</a></span>
			</div>
		</div>
	</div>

			<div class="container">
				{% for crop in mylist %}
					<div class="card border-primary col-12 mt-2" style="max-width: 540px;">
					  <div class="row">
					    <div class="col-4 d-flex align-items-center">
					      <img src="{% static 'img/foods/icon_113490_256.png' %}" class="card-img">
					    </div>
					    <div class="col-8">
					      <div class="card-body bg-light p-2">
					        <h5 class="card-title">
										{{crop.Food_name}}
									</h5>
									<p class="card-text">
										{{ crop.food_grp }}
									</p>
									<p class="card-text">
										{{ crop.protein }}
									</p>
										<span><a class="btn btn-light btn-sm align-middle badge badge-secondary" href="{% url 'crop_update' familyid=crop.familyid pk=crop.pk %}">edit</a></span>
										<span><a class="btn btn-light btn-sm align-middle badge badge-secondary" href="{% url 'crop_delete' familyid=crop.familyid pk=crop.pk %}">del</a></span>
					      </div>
					    </div>
					  </div>
					</div>
					{% endfor %}
				</div>


{% endblock %}
