{% extends 'myApp/base.html' %}
{% load static %}

{% block content %}
<script type="text/javascript" src="{% static 'DataTables/js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'DataTables/js/dataTables.select.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'DataTables/css/jquery.dataTables.min.css' %}" media="screen">
<link rel="stylesheet" type="text/css" href="{% static 'DataTables/css/select.dataTables.min.css' %}" media="screen">

<script>

  // URLパラメータの取得
  var myFamily = '';
  var myCrop = '';
  var myRoot = '';
  var items = [];
  var item_pattern = new RegExp(/^(\d+:\d+)(-\d+:\d+)*$/);

  getHTML_param = function() {
    var url_tmp = window.location.href.split('/');
    var tmp1 = url_tmp[url_tmp.length-4];
    var tmp2 = url_tmp[url_tmp.length-2];
    var tmp3 = url_tmp[url_tmp.length-3];
    url_tmp.pop();url_tmp.pop();url_tmp.pop();url_tmp.pop();url_tmp.pop();
    url_tmp.pop();
    myRoot = url_tmp.join("/") + '/';
    myFamily = tmp1;
    myCrop = tmp3;
    items.length = 0;
    if (tmp2 == '0') {
      items.push('0');
    } else if (tmp2.indexOf('-') < 0) {
      if (!(item_pattern.test(tmp2))) {
        alert('URL parameter does not match!');
      }
      items.push(tmp2);
    } else {
      if (!(item_pattern.test(tmp2))) {
        alert('URL parameter does not match!');
      }
      items = tmp2.split('-');
    }
    return tmp1;
  }

// table initialize start
  $(document).ready(function() {
      var table = $('#example').DataTable( {
          "searching": false,
          "paging": false,
          "ordering": false,
          "info": false,
          select: {
              style: 'multi',
              items: 'cell',
              selector: ':not(:first-child)'
          },
      } );
// table initialize end


//get URL parameter
      getHTML_param();

//set initial cell selection based on URL parameter
      table.cells().every(function (row, column){
        let id = row + ':' + column;
        if (items.indexOf(id) >= 0) {
          this.select();
        }
      });

      $('#button').click( function () {
        let myitem = [];
        table.cells('.selected').every( function (row, column) {
          myitem.push(row + ':' + column);
        });
        let noAdd = myitem.every(v => items.includes(v));
        let noDel = items.every(v => myitem.includes(v));
        if (noAdd && noDel) {
          console.log('no change');
//          console.log(myitem.join('-'));
          location.href = myRoot + 'registCalendar/' + myFamily + '/' +
            myCrop + '/' + myitem.join('-') + '/';
        } else {
          console.log(myitem.join('-'));
          location.href = myRoot + 'registCalendar/' + myFamily + '/' +
            myCrop + '/' + myitem.join('-') + '/';
        }
      } );
  } );


</script>

<div class="container" style="max-width: 540px;">
  <div class="row">
      <div class="col-10 my-2 px-1">
          <h5>  seasonal availability of crop XX </h5>
      </div>
  </div>
</div>

<div class="container" style="max-width: 540px;">
  <table id="example" class="table table-responsive display compact cell-border" cellspacing="0" width="100%">
          <thead style="display:none;">
              <tr>
                <th>month</th>
                <th>production</th>
                <th> market </th>
              </tr>
          </thead>
          <tbody>
            <tr>
              <th>month</th>
              <th>production</th>
              <th> market </th>
            </tr>
            <tr>
              <th>01</th>
              <th></th>
              <th></th>
            </tr>
            <tr>
              <th>02</th>
              <th></th>
              <th></th>
            </tr>
            <tr>
              <th>03</th>
              <th></th>
              <th></th>
            </tr>
            <tr>
              <th>04</th>
              <th></th>
              <th></th>
            </tr>
            <tr>
              <th>05</th>
              <th></th>
              <th></th>
            </tr>
            <tr>
              <th>06</th>
              <th></th>
              <th></th>
            </tr>
            <tr>
              <th>07</th>
              <th></th>
              <th></th>
            </tr>
            <tr>
              <th>08</th>
              <th></th>
              <th></th>
            </tr>
            <tr>
              <th>09</th>
              <th></th>
              <th></th>
            </tr>
            <tr>
              <th>10</th>
              <th></th>
              <th></th>
            </tr>
            <tr>
              <th>11</th>
              <th></th>
              <th></th>
            </tr>
            <tr>
              <th>12</th>
              <th></th>
              <th></th>
            </tr>
          </tbody>
          <tfoot style="display:none;">
              <tr>
                <tr>
                  <th>month</th>
                  <th>production</th>
                  <th>market</th>
                </tr>
              </tr>
          </tfoot>
      </table>
      <span><a id="button" class="btn btn-outline-secondary text-dark mt-2 my-0 py-0 btn-sm" >back</a></span>
</div>

{% endblock %}
