{% extends 'myApp/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
  <script type="text/javascript" src="{% static 'DataTables/js/jquery.dataTables.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'DataTables/js/dataTables.select.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'DataTables/css/jquery.dataTables.min.css' %}" media="screen">
  <link rel="stylesheet" type="text/css" href="{% static 'DataTables/css/select.dataTables.min.css' %}" media="screen">

  <script>
    // URLパラメータの取得
    var myFamily = '';
    var myRoot = '';
    var items = [];

    // グローバル変数の作成
    var selected_rows_id = []

    getHTML_param = function () {
      var url_tmp = window.location.href.split('/');
      var tmp1 = url_tmp[url_tmp.length - 3];
      var tmp2 = url_tmp[url_tmp.length - 2];
      url_tmp.pop();
      url_tmp.pop();
      url_tmp.pop();
      url_tmp.pop();
      myRoot = url_tmp.join("/") + '/';
      myFamily = tmp1;
      items.length = 0;
      if (tmp2 == '0') {
        items.push('0');
      } else if (tmp2.indexOf('-') < 0) {
        items.push(tmp2);
      } else {
        items = tmp2.split('-');
      }
      return tmp1;
    }

    //////////////////add selected rows to text box
    $(document).ready(function () {
      var mytable = $('#croplist').DataTable({
        "ajax": "{% static 'DataTables/data/FCT2.txt' %}",
        "pageLength": 50,
        "columns": [
          {
            "data": "row_sel"
          }, {
            "data": "Food_grp"
          }, {
            "data": "Food_name"
          }
        ],
        "columnDefs": [
          {
            targets: [
              1, 2
            ],
            visible: true
          }, {
            targets: '_all',
            visible: false
          }
        ],
        //////////////////all the initialization process after this
        "initComplete": function (settings, json) {
          getHTML_param();

          //////////////////add selected rows to text box
          $('#croplist tbody').on('click', 'tr', function () {
            $(this).toggleClass('selected');

            jQuery('#selected_crops_tbl tr').remove();
            selected_rows_id.length = 0;
            cr = '<tr><th class="px-0 text-sm-center">name</th><th class="px-0">01</th><th class="px-0">02</th><th class="px-0">03</th><th class="px-0">04</th><th class="px-0">05</th><th class="px-0">06</th><th class="px-0">07</th><th class="px-0">08</th><th class="' +
                'px-0">09</th><th class="px-0">10</th><th class="px-0">11</th><th class="px-0">12</th></tr>';
            mytable.rows('.selected').every(function (rowIdx, tableLoop, rowLoop) {
              var data = this.data();
              cr += '<td class="px-0 text-sm-center">' + data.Food_name + '</td>';
              cr += '<td class="px-0 text-sm-center"></td>';
              cr += '<td class="px-0 text-sm-center"></td>';
              cr += '<td class="px-0 text-sm-center"></td>';
              cr += '<td class="px-0 text-sm-center"></td>';
              cr += '<td class="px-0 text-sm-center"></td>';
              cr += '<td class="px-0 text-sm-center"></td>';
              cr += '<td class="px-0 text-sm-center"></td>';
              cr += '<td class="px-0 text-sm-center"></td>';
              cr += '<td class="px-0 text-sm-center"></td>';
              cr += '<td class="px-0 text-sm-center"></td>';
              cr += '<td class="px-0 text-sm-center"></td>';
              cr += '<td class="px-0 text-sm-center"></td>';
              cr += '</tr>';
              selected_rows_id.push(rowIdx);
            });
            jQuery('#selected_crops_tbl').append(cr);
          });

          //////////////////add filtering dropdown list
          this.api().columns([1]).every(function () {
            var column = this;
            var select = $('<select class="selectpicker" style="max-width: 250px;"><option value=""></option></select>').appendTo($('#newSearchPlace')).on('change', function () {
              var val = $.fn.dataTable.util.escapeRegex($(this).val());

              column.search(
                val
                  ? '^' + val + '$'
                  : '',
                true,
                false
              ).draw();
            });

            column.data().unique().sort().each(function (d, j) {
              select.append('<option value="' + d + '">' + d + '</option>');
            });
          });

          //////////////////crop calendar edit function////
          $("#selected_crops_tbl").on("click", "td", function () {
            var tmp = Number($(this).text());
            tmp = (tmp + 1) % 4;
            switch (tmp){
              case 0:
                $(this).css("background-color", "");
                tmp="";
                break;
              case 1:
                $(this).css("background-color", "red");
                $(this).css("color", "red");
                break;
              case 2:
                $(this).css("background-color", "yellow");
                $(this).css("color", "yellow");
                break;
              case 3:
                $(this).css("background-color", "blue");
                $(this).css("color", "blue");
                break;
            }
            $(this).text(tmp);
          });

          ////// csrf_tokenの取得に使う //////////////////////
          function getCookie(name) {
              var cookieValue = null;
              if (document.cookie && document.cookie !== '') {
                  var cookies = document.cookie.split(';');
                  for (var i = 0; i < cookies.length; i++) {
                      var cookie = jQuery.trim(cookies[i]);
                      // Does this cookie string begin with the name we want?
                      if (cookie.substring(0, name.length + 1) === (name + '=')) {
                          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                          break;
                      }
                  }
              }
              return cookieValue;
          }

          function csrfSafeMethod(method) {
              // these HTTP methods do not require CSRF protection
              return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
          }

          var csrf_token = getCookie("csrftoken");
          $.ajaxSetup({
              crossDomain: false, // obviates need for sameOrigin test
              beforeSend: function(xhr, settings) {
                  if (!csrfSafeMethod(settings.type)) {
                      xhr.setRequestHeader("X-CSRFToken", csrf_token);
                  }
              }
          });

          //////////////////send crop list to django////
          $("#save_button").click(function() {
              var hostUrl= myRoot + 'registCropAvail/';
              var mydat = [
                { name : "jiro", exam : { math : 50, lang : 50 }, grade : "c" },
                { name : "saburo", exam : { math : 10, lang : 10 }, grade : "d" }
              ];

              $.ajax({
                  url: hostUrl,
                  type:'POST',
//                  dataType: 'json',
//                  contentType: "application/json",
                  contentType: "text/html",
                  data : JSON.stringify(mydat),
                  timeout:3000,
              }).done(function(mydat) {
                                alert("ok");
              }).fail(function(XMLHttpRequest, textStatus, errorThrown) {
                               alert("error");
              })
          });
          ///////////////////////////////////////////////// //////finish initcomplete//////////
        }
      });
      ////finish $(document).ready///////////////////
    });
  </script>

  <div class="container text-white"  style="max-width:570px;" >
  <div class="card border-primary bg-info col-12 mt-2 py-0" style="max-width: 540px;">
    <div class="row">
      <div class="col-12">
        <div class="card-body py-0 px-0">
          <p class="card-title text-warning my-0">
            availability
            <span style= "color:red">■</span>: market&prod
            <span style= "color:yellow">■</span>: prod only
            <span style= "color:blue">■</span>: market only
          </p>

          <div class="table-responsive">
            <div id="selected_crops_tbl" class="table table-bordered table-striped mx-0 px-0"></div>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <span>
        <a id="save_button" class="btn btn-outline-secondary text-dark mt-2 my-0 py-0 btn-sm">save</a>
      </span>
    </div>
  </div>
</div>

<hr>
<div class="container" style="max-width: 540px;">
  <div class="my-2" id="newSearchPlace">Food group:
  </div>
  <table id="croplist" class="display compact" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Group</th>
        <th>Group</th>
        <th>Name</th>
      </tr>
    </thead>

    <tfoot>
      <tr>
        <th>Group</th>
        <th>Group</th>
        <th>Name</th>
      </tr>
    </tfoot>
  </table>
</div>

{% endblock %}
