{% extends "myApp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load mylookup %}
{% load humanize %}
{{ form.certifications.errors }}

<div class="container " style="max-width: 540px;">
  <div class="card border-primary col-12 mt-2 py-0" style="max-width: 540px;">
    <div class="row">
      <div class="col-12">
        <div class="card-body bg-light p-2 py-0 px-0">
          {% for person in persons %}
          <p class="card-text my-0">
            To satisfy
            <span class="text-danger">{{n_target}} </span>
            requirement for
            <span class="text-danger">{{person.get_sex_display}}, {{person.get_age_display}} </span>,
          </p>
          <p class="card-text my-0">
            <span class="text-danger">
              {{person_food_target|dict_key:person.id|dict_key:pk|dict_key:n_target}}
            </span>
            gram of {{f_name}} need to be consumed
          </p>
          <hr>
          {% endfor %}

        </div>
      </div>
    </div>
  </div>
</div>


<div class="container" style="max-width: 540px;">
  <form method="post" id="myform">
    {% csrf_token %}
    <div class="row">
      <div class="col-12">
        <h3 class="text-center">crop feasibility assessment</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="float-right">
          <a class="btn btn-outline-secondary" href="{% url 'crop_list' familyid=myid %}">return</a>
          <button class="btn btn-outline-secondary" type="submit">save</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {{ form|crispy }}
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="float-right">
          <a class="btn btn-outline-danger" href="{% url 'calendar' familyid=myid pk=pk items=myCal %}">crop calendar</a>
          <a class="btn btn-outline-secondary" href="{% url 'crop_list' familyid=myid %}">return</a>
          <button class="btn btn-outline-secondary" type="submit">save</button>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}
