{% extends "myApp/_base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
  <script type="text/javascript" src="{% static 'DataTables/js/jquery.dataTables.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'DataTables/css/jquery.dataTables.min.css' %}" media="screen">
  <script type="text/javascript" src="{% static 'DataTables/js/dataTables.select.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'DataTables/css/select.dataTables.min.css' %}" media="screen">

  {{ form.certifications.errors }}
  <div class="container" style="max-width: 540px;">
    <form method="post" id="myform">
      {% csrf_token %}
      <div class="row">
        <div class="col-2 my-0 px-3">
          <img src="{% static 'img/no6.png' %}" alt="number 6">
        </div>
        <div class="col-8 my-0 px-1">
          <h5 class="text-center">Add new crop</h5>
        </div>
        <div class="col-2 my-0 px-1">
				<span>
          <button id="btn_save" type="submit" class="btn btn-warning text-dark mt-2 my-0 py-0 btn-sm">save</button>
				</span>
        </div>
      </div>
      <div class="card border-success bg-light col-12 my-2 py-1">
        <div class="card border-success col-12 my-1 px-0"
             style="max-width: 540px; color:#24535F ;background-color:#D9ECDC;">
          <div class="card-header bg-info text-white mx-0 px-1 my-0 py-0">
            Crop Name
          </div>
          <div class="card-body mx-1 px-1 my-0 py-0">
            {% ifequal isUpdate 0 %}
              <a id="btn_add" class="btn btn-sm btn-success my-2 btn-block" href="#">add new crop</a>
            {% endifequal %}
            {{ form.crop_name|as_crispy_field }}
            {{ form.crop_name_id|as_crispy_field }}
            {{ form.crop_score|as_crispy_field }}
            {{ form.myFCT|as_crispy_field }}
          </div>
        </div>
        <div class="card border-success col-12  my-1 px-0"
             style="max-width: 540px; color:#24535F ;background-color:#D9ECDC;">
          <div class="card-header bg-info text-white mx-0 px-1 my-0 py-0">
            Nutrient balance
          </div>
          <div class="card-body mx-1 px-1 my-0 py-0">
            {{ form.feas_DRI_e|as_crispy_field }}
            {{ form.feas_DRI_p|as_crispy_field }}
            {{ form.feas_DRI_a|as_crispy_field }}
            {{ form.feas_DRI_f|as_crispy_field }}
          </div>
        </div>
        <div class="card border-success col-12 my-1 px-0"
             style="max-width: 540px; color:#24535F ;background-color:#D9ECDC;">
          <div class="card-header bg-info text-white mx-0 px-1 my-0 py-0">
            Socioeconomic aspect
          </div>
          <div class="card-body mx-1 px-1 my-0 py-0">
            {{ form.feas_soc_acceptable|as_crispy_field }}
            {{ form.feas_soc_acceptable_wo|as_crispy_field }}
            {{ form.feas_soc_acceptable_c5|as_crispy_field }}
            {{ form.feas_affordability|as_crispy_field }}
          </div>
        </div>
        <div class="card border-success col-12 my-1 px-0"
             style="max-width: 540px; color:#24535F ;background-color:#D9ECDC;">
          <div class="card-header bg-info text-white mx-0 px-1 my-0 py-0">
            Production skill
          </div>
          <div class="card-body mx-1 px-1 my-0 py-0">
            {{ form.feas_prod_skill|as_crispy_field }}
            {{ form.feas_workload|as_crispy_field }}
            {{ form.feas_tech_service|as_crispy_field }}
          </div>
        </div>
        <div class="card border-success col-12 my-1 px-0"
             style="max-width: 540px; color:#24535F ;background-color:#D9ECDC;">
          <div class="card-header bg-info text-white mx-0 px-1 my-0 py-0">
            Required investment
          </div>
          <div class="card-body mx-1 px-1 my-0 py-0">
            {{ form.feas_invest_fixed|as_crispy_field }}
            {{ form.feas_invest_variable|as_crispy_field }}
          </div>
        </div>
        <div class="card border-success col-12 my-1 px-0"
             style="max-width: 540px; color:#24535F ;background-color:#D9ECDC;">
          <div class="card-header bg-info text-white mx-0 px-1 my-0 py-0">
            Year round availability
          </div>
          <div class="card-body mx-1 px-1 my-0 py-0">
            {{ form.feas_availability_prod|as_crispy_field }}
            {{ form.feas_availability_non|as_crispy_field }}
            {{ form.feas_storability|as_crispy_field }}
          </div>
        </div>
      </div>
    </form>
  </div>

  <!-- モーダルの設定 ----------------------------->
  <div class="modal fade" id="dlg_crop" tabindex="-1" role="dialog" aria-labelledby="dlg_crop_Label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-dark" id="dlg_crop_Label">Add New Crop</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-dark">
          <div class="my-2" id="myFilter">Food group:
          </div>
          <table id="tbl_crop_all" class="table-sm" cellspacing="0" width="100%">
            <thead>
            <tr>
              <th>Group</th>
              <th>Name</th>
              <th class="tableItem_hide">id</th>
            </tr>
            </thead>

            <tfoot>
            <tr>
              <th>Group</th>
              <th>Group</th>
              <th class="tableItem_hide">id</th>
            </tr>
            </tfoot>
          </table>
          <a id="btn_exit01" class="close btn btn-outline-secondary text-dark mt-2 my-0 py-0 btn-sm"
             data-dismiss="modal" aria-label="close">close</a>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
  <!-------------------------------------->
  <!-- モーダルの設定 local crop ----------------------------->
  <div class="modal fade" id="Modal_localCrop1" mynum="0" tabindex="-1" role="dialog"
       aria-labelledby="Modal_localCropLabel">
    <div class="modal-dialog " role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add/remove food item</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="close">
            <span class="text-danger" aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-dark">
          <div class="my-2" id="myFilter1">Food group:
          </div>
          <table id="localCrop1" style="width: 100%">
            <thead>
            <tr>
              <th>s</th>
              <th>Name</th>
              <th>En</th>
              <th>Pr</th>
              <th>VA</th>
              <th>Fe</th>
              <th>c</th>
            </tr>
            </thead>

            <tfoot>
            <tr>
              <th>s</th>
              <th>Name</th>
              <th>En</th>
              <th>Pr</th>
              <th>VA</th>
              <th>Fe</th>
              <th>c</th>
            </tr>
            </tfoot>
          </table>
          <a id="btn_exit01" class="btn btn-outline-secondary text-dark mt-2 my-0 py-0 btn-sm" data-dismiss="modal">close</a>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
  <!-------------------------------------->

  <style media="screen">
    /* 行または列の非表示*/
    .tableItem_hide {
      display: none;
    }

    /* fontausomeの書式*/
    .fb-help {
      color: green;
    }

  </style>


  <script type="text/javascript">

    $(document).ready(function () {
      //---------if crop update----------
      if ({{ isUpdate }}) {
        $('#id_crop_name').val("{{ crop_name }}");
        $('#id_crop_name').attr('readonly', true);
        $('#id_crop_name_id').val("{{ crop_name_id }}");
        $('#id_crop_name_id').attr('readonly', true);
      } else {

        ////////////////  install mytable_all  ////////////
        var json_crop_local = {{mylist_available|safe}};
        //    console.log(json_crop);

        var Crop_available = $('#localCrop1').DataTable({
          "data": json_crop_local,
          "pageLength": 20,
          "select": 'single',
          "columns": [
            {
              "data": "selected_status"
            }, {
              "data": "Food_name"
            }, {
              "data": "Energy"
            }, {
              "data": "Protein"
            }, {
              "data": "VITA_RAE"
            }, {
              "data": "FE"
            }, {
              "data": "Food_grp"
            }, {
              "data": "Weight"
            }, {
              "data": "portion_size"
            }, {
              "data": "m1"
            }, {
              "data": "m2"
            }, {
              "data": "m3"
            }, {
              "data": "m4"
            }, {
              "data": "m5"
            }, {
              "data": "m6"
            }, {
              "data": "m7"
            }, {
              "data": "m8"
            }, {
              "data": "m9"
            }, {
              "data": "m10"
            }, {
              "data": "m11"
            }, {
              "data": "m12"
            }, {
              "data": "food_item_id"
            }, {
              "data": "count_prod"
            }, {
              "data": "count_buy"
            }
          ],

          "columnDefs": [
            {
              targets: [
                1, 2, 3, 4, 5
              ],
              visible: true
            }, {
              targets: '_all',
              bVisible: false
            }, {
              "orderSequence": ["desc"],
              "targets": [2]
            }, {
              "orderSequence": ["desc"],
              "targets": [3]
            }, {
              "orderSequence": ["desc"],
              "targets": [4]
            }, {
              "orderSequence": ["desc"],
              "targets": [5]
            }
          ],

          "initComplete": function (settings, json) {
            // ////add filtering dropdown list
            this.api().columns([6]).every(function () {
              var column = this;
              var select = $('<select style="border: 1px grey double;"><option value=""></option></select>').appendTo($('#myFilter1')).on('change', function () {
                var val = $.fn.dataTable.util.escapeRegex($(this).val());

                column.search(
                        val
                                ? '^' + val + '$'
                                : '',
                        true,
                        false
                ).draw();
              });
              column.data().unique().sort().each(function (d, j) {
                select.append('<option value="' + d + '">' + d + '</option>');
              });
            });
            $('#localCrop1 tbody').on('click', 'tr', function () {
              $(this).toggleClass('selected');
              if ($(this).hasClass('selected')) {
                mydata = Crop_available.row(this).data();
                $('#id_crop_name').val(mydata['Food_name']);
                $('#id_crop_name').attr('readonly', true);
                $('#id_crop_name_id').val(mydata['food_item_id']);
                $('#id_crop_name_id').attr('readonly', true);
              }
            })

          },
        });


        //---------crop selection event----------
        $('#btn_add').click(function () {
          $('#Modal_localCrop1').modal('show');
        });


      }
    })//-----document.ready()-----------


  </script>
{% endblock %}

