{% extends 'myApp/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
  <script type="text/javascript" src="{% static 'DataTables/js/jquery.dataTables.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'DataTables/js/dataTables.select.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'DataTables/css/jquery.dataTables.min.css' %}" media="screen">
  <link rel="stylesheet" type="text/css" href="{% static 'DataTables/css/select.dataTables.min.css' %}" media="screen">

  <script type="text/javascript" src="{% static 'js/jquery.barrating.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/fontawesome-apple.css' %}">
  <link rel="stylesheet" href="{% static 'css/bars-1to10.css' %}">

  <script>
    // URLパラメータの取得
    var myFamily = '';
    var myRoot = '';
    var items = [];
    var myList1 = [];

    // グローバル変数の作成
    var selected_rows_id = []
    var jsonData = {{mylist|safe}};
    var target_en = {{dri_e}};
    var target_pr = {{dri_p}};
    var target_va = {{dri_v}};
    var target_fe = {{dri_f}};

    getHTML_param = function () {
      var url_tmp = window.location.href.split('/');
      var tmp1 = url_tmp[url_tmp.length - 4];
      var tmp2 = url_tmp[url_tmp.length - 3];
      var tmp3 = url_tmp[url_tmp.length - 2];
      url_tmp.pop();
      url_tmp.pop();
      url_tmp.pop();
      url_tmp.pop();
      url_tmp.pop();
      myRoot = url_tmp.join("/") + '/';
      myFamily = tmp1;
      items.length = 0;
      if (tmp3 == '0') {
        items.push('0');
      } else if (tmp3.indexOf('-') < 0) {
        items.push(tmp3);
      } else {
        items = tmp3.split('-');
      }

      myList1.length = 0;
      if (tmp2 == '0') {
        myList1.push('0');
      } else if (tmp2.indexOf('-') < 0) {
        myList1.push(tmp2);
      } else {
        myList1 = tmp2.split('-');
      }
      return tmp1;
    }

    ////star rating/////
    $(function () {
      $('#mystar').barrating({theme: 'fontawesome-apple'});
      $('#rating_en').barrating({theme: 'bars-1to10'}); // set barrating
      $('#rating_pr').barrating({theme: 'bars-1to10'}); // set barrating
      $('#rating_va').barrating({theme: 'bars-1to10'}); // set barrating
      $('#rating_fe').barrating({theme: 'bars-1to10'}); // set barrating
    });
    //////////// init first table
    $(document).ready(function () {
      var tblObj_localCrop = $('#localCrop').DataTable({
        "data": jsonData,
        "pageLength": 50,
        "columns": [
          {
            "data": "row_sel"
          }, {
            "data": "Food_name"
          }, {
            "data": "Energy"
          }, {
            "data": "Protein"
          }, {
            "data": "VITA_RAE"
          }, {
            "data": "FE"
          }, {
            "data": "row_filter"
          }, {
            "data": "Food_grp"
          }, {
            "data": "Weight"
          }, {
            "data": "portion_size"
          }, {
            "data": "m1"
          }, {
            "data": "m2"
          }, {
            "data": "m3"
          }, {
            "data": "m4"
          }, {
            "data": "m5"
          }, {
            "data": "m6"
          }, {
            "data": "m7"
          }, {
            "data": "m8"
          }, {
            "data": "m9"
          }, {
            "data": "m10"
          }, {
            "data": "m11"
          }, {
            "data": "m12"
          }
        ],

        "columnDefs": [
          {
            targets: [
              1, 2, 3, 4, 5
            ],
            visible: true
          }, {
            targets: '_all',
            visible: false
          }, {
            "orderSequence": ["desc"],
            "targets": [2]
          }, {
            "orderSequence": ["desc"],
            "targets": [3]
          }, {
            "orderSequence": ["desc"],
            "targets": [4]
          }, {
            "orderSequence": ["desc"],
            "targets": [5]
          }
        ],

        "initComplete": function (settings, json) {

          function DrawSelected() { /// render selected_crops_tbl
            $('#selected_crops_tbl tr').remove(); //remove all rows
            selected_rows_id.length = 0;
            let sum_en = 0;
            let sum_pr = 0;
            let sum_va = 0;
            let sum_fe = 0;
            cr = '<tr><th>name</th><th>En</th><th>Pr</th><th>Va</th><th>Fe</th><th>Wt</th></tr><tr>';
            tblObj_localCrop.rows('.selected').every(function (rowIdx, tableLoop, rowLoop) {
              var data = this.data();
              cr += '<td>' + data.Food_name + '</td>';
              cr += '<td>' + Math.round(data.Energy * data.Weight / 100, 1) + '</td>';
              cr += '<td>' + Math.round(data.Protein * data.Weight / 100, 1) + '</td>';
              cr += '<td>' + Math.round(data.VITA_RAE * data.Weight / 100, 1) + '</td>';
              cr += '<td>' + Math.round(data.FE * data.Weight / 100, 1) + '</td>';
              cr += '<td>' + data.Weight + '</td>';
              cr += '</tr>';
              sum_en += data.Energy * data.Weight / 100;
              sum_pr += data.Protein * data.Weight / 100;
              sum_va += data.VITA_RAE * data.Weight / 100;
              sum_fe += data.FE * data.Weight / 100;
              selected_rows_id.push(rowIdx);
            });
            cr += '<tr><td>total</td>' + SetCellColor(Math.round(sum_en), target_en) + SetCellColor(Math.round(sum_pr), target_pr) + SetCellColor(Math.round(sum_va), target_va) + SetCellColor(Math.round(sum_fe), target_fe) + '<td></td></tr>';
            $('#selected_crops_tbl').append(cr);

            $('#lbl_target_en').text(target_en);
            $('#lbl_target_pr').text(target_pr);
            $('#lbl_target_va').text(target_va);
            $('#lbl_target_fe').text(target_fe);

            /////////////// set barrating /
            let rate_en = Math.round(sum_en * 10 / target_en);
            if (rate_en > 10) {
              rate_en = 10
            } else if (rate_en < 1) {
              rate_en = 1
            };
            let rate_pr = Math.round(sum_pr * 10 / target_pr);
            if (rate_pr > 10) {
              rate_pr = 10
            } else if (rate_pr < 1) {
              rate_pr = 1
            };
            let rate_va = Math.round(sum_va * 10 / target_va);
            if (rate_va > 10) {
              rate_va = 10
            } else if (rate_va < 1) {
              rate_va = 1
            };

            let rate_fe = Math.round(sum_fe * 10 / target_fe);
            if (rate_fe > 10) {
              rate_fe = 10
            } else if (rate_fe < 1) {
              rate_fe = 1
            };

            $('#rating_en').barrating('set', rate_en); // set barrating
            $('#rating_pr').barrating('set', rate_pr); // set barrating
            $('#rating_va').barrating('set', rate_va); // set barrating
            $('#rating_fe').barrating('set', rate_fe); // set barrating

            return;
          };
          //////////////////init second table as modal dialog add selected rows to text box
          $('#localCrop tbody').on('click', 'tr', function () {
            $(this).toggleClass('selected');
            DrawSelected();

          });

          //////////////////////////////////////////////
          $('#lst_month').change(function () {
            let search_col = '';
            let tmp_mon = $(this).val();
            if (tmp_mon == 'jan') {
              search_col = 10;
            } else if (tmp_mon == 'feb') {
              search_col = 11;
            } else if (tmp_mon == 'mar') {
              search_col = 12;
            } else if (tmp_mon == 'apr') {
              search_col = 13;
            } else if (tmp_mon == 'may') {
              search_col = 14;
            } else if (tmp_mon == 'jun') {
              search_col = 15;
            } else if (tmp_mon == 'jul') {
              search_col = 16;
            } else if (tmp_mon == 'aug') {
              search_col = 17;
            } else if (tmp_mon == 'sep') {
              search_col = 18;
            } else if (tmp_mon == 'oct') {
              search_col = 19;
            } else if (tmp_mon == 'nov') {
              search_col = 20;
            } else if (tmp_mon == 'dec') {
              search_col = 21;
            }
            console.log(tblObj_localCrop.cell(0,search_col).data());
            tblObj_localCrop
                .column( search_col )
                .search('[123]',true)
                .draw();
          });

          //////////////////add table edit function////
          $("#selected_crops_tbl").on("click", "td", function () {
            $('#selected_row').val($(this).closest('tr').index());
            $('#foodInfo tr').remove();

            let por = tblObj_localCrop.row(selected_rows_id[$('#selected_row').val() - 1]).data().portion_size;
            let cou = Number(tblObj_localCrop.row(selected_rows_id[$('#selected_row').val() - 1]).data().Weight / por, 10);
            let foodVal = $("td", $(this).parent());
            let cr = '<tr><th>name</th><th>En</th><th>Pr</th><th>Va</th><th>Fe</th></tr><tr>';
            cr += '<td>' + foodVal.eq(0).text() + '</td>';
            cr += '<td>' + foodVal.eq(1).text() + '</td>';
            cr += '<td>' + foodVal.eq(2).text() + '</td>';
            cr += '<td>' + foodVal.eq(3).text() + '</td>';
            cr += '<td>' + foodVal.eq(4).text() + '</td>';
            $('#foodInfo').append(cr);
            $('#mystar-label').text("consumption target(one portion=" + por + 'g)');
            $('#mystar').barrating('set', cou);

            DrawSelected();

            $('#Modal_foodVol').modal('show');
          });

          ////////////////// button click to reflect the modification
          $('#change_weight').click(function () {
            let por = tblObj_localCrop.row(selected_rows_id[$('#selected_row').val() - 1]).data().portion_size;
            let cou = $('#mystar').children("option:selected").val();
            let tmp_v = por * cou
            $('#selected_crops_tbl tr').eq($('#selected_row').val()).children('td').eq(5).text(tmp_v);
            tblObj_localCrop.row(selected_rows_id[$('#selected_row').val() - 1]).data().Weight = tmp_v;

            ///////////////////
            $('#selected_crops_tbl tr').remove();
            selected_rows_id.length = 0;
            sum_en = 0;
            sum_pr = 0;
            sum_va = 0;
            sum_fe = 0;
            cr = '<tr><th>name</th><th>En</th><th>Pr</th><th>Va</th><th>Fe</th><th>Wt</th></tr><tr>';
            tblObj_localCrop.rows('.selected').every(function (rowIdx, tableLoop, rowLoop) {
              var data = this.data();
              cr += '<td>' + data.Food_name + '</td>';
              cr += '<td>' + Math.round(data.Energy * data.Weight / 100, 1) + '</td>';
              cr += '<td>' + Math.round(data.Protein * data.Weight / 100, 1) + '</td>';
              cr += '<td>' + Math.round(data.VITA_RAE * data.Weight / 100, 1) + '</td>';
              cr += '<td>' + Math.round(data.FE * data.Weight / 100, 1) + '</td>';
              cr += '<td>' + data.Weight + '</td>';
              cr += '</tr>';
              sum_en += data.Energy * data.Weight / 100;
              sum_pr += data.Protein * data.Weight / 100;
              sum_va += data.VITA_RAE * data.Weight / 100;
              sum_fe += data.FE * data.Weight / 100;
              selected_rows_id.push(rowIdx);
            });
            cr += '<tr><td>total</td>' + SetCellColor(Math.round(sum_en), target_en) + SetCellColor(Math.round(sum_pr), target_pr) + SetCellColor(Math.round(sum_va), target_va) + SetCellColor(Math.round(sum_fe), target_fe) + '<td></td></tr>';
            $('#selected_crops_tbl').append(cr);

            DrawSelected();
            //////////////////
            $('#Modal_foodVol').modal('hide');
          });

          /// initialization///////
          getHTML_param();
          //          DrawSelected(); //////////////add filtering dropdown list
          this.api().columns([7]).every(function () {
            var column = this;
            var select = $('<select style="border: 1px grey double;"><option value=""></option></select>').appendTo($('#myFilter')).on('change', function () {
              var val = $.fn.dataTable.util.escapeRegex($(this).val());

              column.search(
                val
                  ? '^' + val + '$'
                  : '',
                true,
                false
              ).draw();
            });
            column.data().unique().sort().each(function (d, j) {
              select.append('<option value="' + d + '">' + d + '</option>');
            });
          })
        }
      });

      //////////////////init second table as modal dialog
      $('#btn_save').click(function () {
        let w = "";
        let n = "";
        let p = "";
        tblObj_localCrop.rows('.selected').every(function (rowIdx, tableLoop, rowLoop) {
          var data = this.data();
          n += "-" + data.food_item_id;
          w += "-" + data.Weight;
          p += "-" + data.portion_size;

          // ... do something with data(), or this.node(), etc
        });
        n = n.substring(1);
        if (n == '') {
          n = 0;
        }
        w = w.substring(1);
        if (w == '') {
          w = 0;
        }
        p = p.substring(1);
        if (p == '') {
          p = 0;
        }
        location.href = myRoot + 'registCrops/' + myFamily + '/' + n + '/' + w + '/' + p + '/';
      });

      //////////////set cell color////////////////
      function SetCellColor(i_cell, i_target) {
        cNum = parseInt(i_cell * 100 / i_target, 10);
        switch (true) {
          case 0 <= cNum && cNum < 50:
            res = '<td style="color:red;">' + i_cell + '</td>';
            break;

          case 50 <= cNum && cNum < 100:
            res = '<td style="color:orange;">' + i_cell + '</td>';
            break;

          case 100 <= cNum:
            res = '<td style="color:green;">' + i_cell + '</td>';
            break;

          default:
            res = '<td>' + i_cell + '</td>';
            break;
        }
        return res;
      }

      //////////////////register selected commodity
      $('#btn_add').click(function () {
        $('#Modal_localCrop').modal('show');
      });
      //////////////////register selected commodity
      $('#btn_exit01').click(function () {
        $('#Modal_localCrop').modal('hide');
      });

    });
  </script>

  <input type="hidden" value="" id="selected_row">

  <div class="container" style="max-width: 540px;">
    <div class="row">
      <div class="col-2 my-0 px-3">
        <img src="{% static 'img/no5.png' %}">
      </div>
      <div class="col-10 my-0 px-1">
        <h5>
          Diet planning for
          {{name}}
        </h5>
      </div>
    </div>
  </div>

  <div class="container text-white" style="max-width: 540px;">
    <div id="accordion">
      <div class="card border-primary bg-info col-12 mt-2 py-0" style="max-width: 540px;">
        <div class="row">
          <div class="col-12">
            <div class="card-body py-0 px-0">
              <p class="card-text text-warning my-0">
                name:
                {{ name }}
              </p>
              <p class="card-text my-0">
                country:
                {{ name.country_test.NAME_0 }}
              </p>
              <p class="card-text my-0">
                region:
                {{ name.country_test.NAME_1 }}
              </p>
              <p class="card-text my-0">
                province:
                {{ name.country_test.NAME_2 }}
              </p>
              <p class="card-text my-0">
                nutrition target:
                {{ name.nutrition_target }}
              </p>
              <button class="btn btn-link" data-toggle="collapse" data-target="#more_info" aria-expanded="true" aria-controls="more_info">
                more info
              </button>

              <div id="more_info" class="collapse" aria-labelledby="heading{{crop.food_item_id}}" data-parent="#accordion">
                <p class="card-text my-0">
                  stunting rate:
                  {{ name.stunting_rate }}
                </p>
                <p class="card-text my-0">
                  wasting rate:
                  {{ name.wasting_rate }}
                </p>
                <p class="card-text my-0">
                  anemia rate:
                  {{ name.anemia_rate }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container text-white" style="max-width: 540px;">
    <div class="card border-primary col-12 mt-2 py-1" style="max-width: 540px;">
      <div class="row">
        <div class="col-12">
          <div class="card-body py-0 px-0">
            <p class="card-title text-dark my-0">
              selected commodities
            </p>
            <p class="card-title text-dark my-0">
              <span style="color:red">■</span>: less than 50%,
              <span style="color:orange">■</span>: 50-100%,
              <span style="color:green">■</span>: over 100%
            </p>

            <table border="1" class="table table-striped" id="selected_crops_tbl">
              <tr>
                <th>name</th>
                <th>En</th>
                <th>Pr</th>
                <th>Va</th>
                <th>Fe</th>
                <th>Wt</th>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </table>

            <div class="form-row no-gutters my-0 py-0" style="height:30px;">
              <div class="col-2">
                <label class="text-dark" for="rating_en">Energy</label>
              </div>
              <div class="col-2">
                <div class="text-dark" id="lbl_target_en"></div>
              </div>
              <div class="col-8">
                <select class="form-control" id="rating_en">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>
              </div>
            </div>

            <div class="form-row no-gutters my-0 py-0" style="height:30px;">
              <div class="col-2">
                <label class="text-dark" for="rating_pr">Protein</label>
              </div>
              <div class="col-2">
                <div class="text-dark" id="lbl_target_pr"></div>
              </div>
              <div class="col-8">
                <select id="rating_pr">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>
              </div>
            </div>

            <div class="form-row no-gutters my-0" style="height:30px;">
              <div class="col-2">
                <label class="text-dark ml-3 mr-4" for="rating_va">VitA</label>
              </div>
              <div class="col-2">
                <div class="text-dark" id="lbl_target_va"></div>
              </div>
              <div class="col-8">
                <select id="rating_va">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>
              </div>
            </div>

            <div class="form-row no-gutters my-0" style="height:30px;">
              <div class="col-2">
                <label class="text-dark ml-3 mr-4" for="rating_fe">Iron</label>
              </div>
              <div class="col-2">
                <div class="text-dark" id="lbl_target_fe"></div>
              </div>
              <div class="col-8">
                <select id="rating_fe">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>
              </div>
            </div>

            <div class="row no-gutters my-0 py-0" style="height:30px;">
              <div class="col-4 text-dark">Target group</div>
              <div class="col-8 text-dark">{{nutrient_target}}</div>
            </div>

            <div class="row no-gutters my-0 py-0" style="height:30px;">
              <div class="col-4 text-dark">Month</div>
              <div class="col-8 text-dark">
                <select id="lst_month" style="border: 1px grey double;">
                  <option value="jan">Jan</option>
                  <option value="feb">Feb</option>
                  <option value="mar">Mar</option>
                  <option value="apr">Apr</option>
                  <option value="may">May</option>
                  <option value="jun">Jun</option>
                  <option value="jul">Jul</option>
                  <option value="aug">Aug</option>
                  <option value="sep">Sep</option>
                  <option value="oct">Oct</option>
                  <option value="nov">Nov</option>
                  <option value="dec">Dec</option>
                </select>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <span>
          <a class="btn btn-outline-secondary mt-2 my-0 py-0 btn-sm" href="{% url 'person_list' familyid=familyid %}">back</a>
        </span>
        <span>
          <a id="btn_save" class="btn btn-outline-secondary text-dark mt-2 my-0 py-0 btn-sm">save</a>
        </span>
        <span>
          <a id="btn_add" class="btn btn-outline-secondary text-dark mt-2 my-0 py-0 btn-sm">add</a>
        </span>
      </div>
    </div>
  </div>

  <hr>

  <div class="container" style="max-width: 540px;"></div>

  <!-- モーダルの設定 ----------------------------->
  <div class="modal fade" id="Modal_foodVol" tabindex="-1" role="dialog" aria-labelledby="Modal_foodVolLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-dark" id="Modal_foodVolLabel">Edit the weight of food item</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-dark">
          <table border="1" class="table table-striped" id="foodInfo">
            <tr>
              <th>name</th>
              <th>En</th>
              <th>Pr</th>
              <th>Va</th>
              <th>Fe</th>
              <th>Wt</th>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </table>

          <label for="mystar" id="mystar-label">consumption target (1 portion=):</label>
          <select id="mystar">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">5</option>
            <option value="7">5</option>
            <option value="8">5</option>
            <option value="9">5</option>
            <option value="10">5</option>
          </select>

          <button type="button" class="btn btn-secondary" data-dismiss="modal">close</button>
          <button type="button" class="btn btn-primary" id="change_weight">change value</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
  <!-------------------------------------->

  <!-- モーダルの設定3 ----------------------------->
  <div class="modal fade" id="Modal_localCrop" tabindex="-1" role="dialog" aria-labelledby="Modal_localCropLabel">
    <div class="modal-dialog " role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add/remove food item</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="close">
            <span class="text-danger" aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-dark">
          <div class="my-2" id="myFilter">Food group:
          </div>
          <table id="localCrop" class="display compact" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>s</th>
                <th>Name</th>
                <th>En</th>
                <th>Pr</th>
                <th>VA</th>
                <th>Fe</th>
                <th>c</th>
              </tr>
            </thead>

            <tfoot>
              <tr>
                <th>s</th>
                <th>Name</th>
                <th>En</th>
                <th>Pr</th>
                <th>VA</th>
                <th>Fe</th>
                <th>c</th>
              </tr>
            </tfoot>
          </table>
          <a id="btn_exit01" class="btn btn-outline-secondary text-dark mt-2 my-0 py-0 btn-sm">close</a>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
  <!-------------------------------------->

{% endblock %}
