{% extends 'myApp/_base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
  <script type="text/javascript" src="{% static 'DataTables/js/jquery.dataTables.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'DataTables/js/dataTables.select.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'DataTables/css/jquery.dataTables.min.css' %}" media="screen">
  <link rel="stylesheet" type="text/css" href="{% static 'DataTables/css/select.dataTables.min.css' %}" media="screen">

  <script type="text/javascript" src="{% static 'js/jquery.barrating.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/fontawesome-apple.css' %}">
  <link rel="stylesheet" href="{% static 'css/bars-1to10.css' %}">

  <input type="hidden" value="" id="selected_row">

  <div class="container" style="max-width: 540px;">
    <div class="row">
      <div class="col-2 my-0 px-3">
        <img src="{% static 'img/no4.png' %}" alt="number 4">
      </div>
      <div class="col-8 my-0 px-1">
        <h5>
          Diet planning for
          {{ myLocation }}
        </h5>
      </div>
      <div class="col-2 my-0 px-3">
        <div class="row">
          <div class="col-12">
            <span>
              <a class="btn btn-warning mt-2 my-0 py-0 btn-sm" href="{% url 'index02' %}">back</a>
            </span>
            <span>
              <a mynum="100" id="btn_save_crop" class="btn btn-warning mt-2 my-0 py-0 btn-sm">save</a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" style="max-width: 540px;">
    <div id="accordion">
      <div class="card  border-dark bg-light col-12 mt-2 py-0" style="max-width: 540px;">
        <div class="row">
          <div class="col-12">
            <div class="card-body py-0 px-0">
              <p class="card-text text-success my-0">
                myLocation:
                {{ myLocation }}
              </p>
              <p class="card-text my-0">
                country:
                {{ myLocation.myCountry.NAME_0 }}
              </p>
              <p class="card-text my-0">
                region:
                {{ myLocation.myCountry.NAME_1 }}
              </p>
              <p class="card-text my-0">
                province:
                {{ myLocation.myCountry.NAME_2 }}
              </p>
              <p class="card-text my-0">
                nutrition target:
                {{ myLocation.nutrition_target }}
              </p>
              <button class="btn btn-link" data-toggle="collapse" data-target="#more_info" aria-expanded="true"
                      aria-controls="more_info">
                more info
              </button>

              <div id="more_info" class="collapse" aria-labelledby="heading{{ crop.food_item_id }}"
                   data-parent="#accordion">
                <p class="card-text my-0">
                  stunting rate:
                  {{ myLocation.stunting_rate }}
                </p>
                <p class="card-text my-0">
                  wasting rate:
                  {{ myLocation.wasting_rate }}
                </p>
                <p class="card-text my-0">
                  anemia rate:
                  {{ myLocation.anemia_rate }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- モーダルの設定 local crop ----------------------------->
  <div class="modal fade" id="Modal_localCrop1" mynum="0" tabindex="-1" role="dialog"
       aria-labelledby="Modal_localCropLabel">
    <div class="modal-dialog " role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add/remove food item</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="close">
            <span class="text-danger" aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-dark">
          <div class="my-2" id="myFilter1">Food group:
          </div>
          <table id="localCrop1" class="display compact" cellspacing="0" width="100%">
            <thead>
            <tr>
              <th>s</th>
              <th>Name</th>
              <th>En</th>
              <th>Pr</th>
              <th>VA</th>
              <th>Fe</th>
              <th>c</th>
            </tr>
            </thead>

            <tfoot>
            <tr>
              <th>s</th>
              <th>Name</th>
              <th>En</th>
              <th>Pr</th>
              <th>VA</th>
              <th>Fe</th>
              <th>c</th>
            </tr>
            </tfoot>
          </table>
          <a id="btn_exit01" class="btn btn-outline-secondary text-dark mt-2 my-0 py-0 btn-sm" data-dismiss="modal">close</a>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
  <!-------------------------------------->

  <!-- モーダルの設定 change diet ----------------------------->
  <div class="modal fade" id="Modal_foodVol1" tabindex="-1" role="dialog" aria-labelledby="Modal_foodVolLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-dark" id="Modal_foodVolLabel1">Edit the weight of food item</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-dark">
          <table border="1" class="table table-striped" id="tbl_food_SetWeight">
            <tr>
              <th>name</th>
              <th>En</th>
              <th>Pr</th>
              <th>Va</th>
              <th>Fe</th>
              <th>Wt</th>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </table>

          <label for="mystar1" id="mystar1-label1">*consumption target (1 portion=):</label>
          <select id="mystar1">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
          </select>
          <div>*share (
            <span style="color: #5bc0de">production</span> /
            <span style="color: #cc1111">buy</span>):
            <span class="fb fb-help" data-toggle="tooltip" title="you can set buy or produce"></span>

            <img id="mystar1-pie" src="#" style="width: 30px" alt="">
          </div>

          <button type="button" class="btn btn-secondary mt-2" data-dismiss="modal">close</button>
          <button type="button" class="btn btn-primary mt-2" mynum="0" id="change_weight1">change value</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
  <!-------------------------------------->

  <!-- モーダルの設定 change balance ----------------------------->
  <div class="modal fade" id="Modal_Prod_Buy" tabindex="-1" role="dialog" aria-labelledby="Modal_foodVolLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-dark" id="Modal_foodVolLabel1">Where do you get food (field or market)?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <label class="modal-body text-dark">
          <label for="my_Prod_Buy" id="my_Prod_Buy-label1">*share (
            <span style="color: #cc1111">buy</span> /
            <span style="color: #5bc0de">production</span>):
          </label>
          <span class="fb fb-help" data-toggle="tooltip" title="Tooltip message"></span>

          <select id="my_Prod_Buy">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>

          <button type="button" class="btn btn-secondary mt-2" data-dismiss="modal">close</button>
          <button type="button" class="btn btn-primary mt-2" mynum="0" id="change_share1">change share</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
  <!-------------------------------------->

  <div id="container_tab_all" class="container border-secondary py-1 my-1 px-0"
       style="max-width: 540px; background-color:#F3F3F3;border-width: 2px;">
    <!-- 4個分のタブ -->
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a href="#tab1_link" class="nav-link active" id="tab1" data-toggle="tab">individual</a>
      </li>
      <li class="nav-item">
        <a href="#tab2_link" class="nav-link" id="tab2" data-toggle="tab">family</a>
      </li>
      <li class="nav-item">
        <a href="#tab3_link" class="nav-link" id="tab3" data-toggle="tab">community</a>
      </li>
    </ul>

    <!-- タブの移動先指定 -->
    <div class="tab-content">
      <div id="tab1_link" class="tab-pane active">
        {% include "./Diet_Sub1.html" %}
      </div>
      <div id="tab2_link" class="tab-pane">
        {% include "./Diet_Sub2.html" %}
      </div>
      <div id="tab3_link" class="tab-pane">
        {% include "./Diet_Sub3.html" %}
      </div>
    </div>
  </div>

  <!------------------------------------------------------------->
  <style media="screen">
    /* 行または列の非表示*/
    .tableItem_hide {
      display: none;

    }

    .fb-help {
      color: green;
    }

  </style>

  <script>
    //ツールチップの初期化
    $('[data-toggle="tooltip"]').tooltip()

    // グローバル変数の作成
    var selected_rows_id = [];
    var myLocation = '';
    var myRoot = '';
    var json_crop_local = {{mylist_available|safe}};
    var json_crop_selected = {{mylist_selected|safe}};
    var target_en = [];
    var target_pr = [];
    var target_va = [];
    var target_fe = [];


    target_en[1] = {{dri_e1}};
    target_pr[1] = {{dri_p1}};
    target_va[1] = {{dri_v1}};
    target_fe[1] = {{dri_f1}};
    target_en[2] = {{dri_e2}};
    target_pr[2] = {{dri_p2}};
    target_va[2] = {{dri_v2}};
    target_fe[2] = {{dri_f2}};
    target_en[3] = {{dri_e3}};
    target_pr[3] = {{dri_p3}};
    target_va[3] = {{dri_v3}};
    target_fe[3] = {{dri_f3}};

    let url_tmp = window.location.href.split('/');
    let tmp1 = url_tmp[url_tmp.length - 2];
    url_tmp.pop();
    url_tmp.pop();
    url_tmp.pop();
    myRoot = url_tmp.join("/") + '/';
    var myLocation_id = tmp1;
    //////////////// star rating/////
    $(function () {
      $('.rating_DRI').barrating({theme: 'bars-1to10', showSelectedRating: false, readonly: true}); // set barrating
      $('#my_Prod_Buy').barrating({theme: 'bars-1to10', showSelectedRating: true, readonly: false}); // set barrating)
      $('#mystar1').barrating({theme: 'fontawesome-apple'});
    });

    ////////////////////////////////
    $('.lbl_target_en[myNum^=1]').text(target_en[1].toFixed(0));
    $('.lbl_target_pr[myNum^=1]').text(target_pr[1].toFixed(0));
    $('.lbl_target_va[myNum^=1]').text(target_va[1].toFixed(0));
    $('.lbl_target_fe[myNum^=1]').text(target_fe[1].toFixed(0));
    $('.lbl_target_en[myNum^=2]').text(target_en[2].toFixed(0));
    $('.lbl_target_pr[myNum^=2]').text(target_pr[2].toFixed(0));
    $('.lbl_target_va[myNum^=2]').text(target_va[2].toFixed(0));
    $('.lbl_target_fe[myNum^=2]').text(target_fe[2].toFixed(0));
    $('.lbl_target_en[myNum^=3]').text(target_en[3].toFixed(0));
    $('.lbl_target_pr[myNum^=3]').text(target_pr[3].toFixed(0));
    $('.lbl_target_va[myNum^=3]').text(target_va[3].toFixed(0));
    $('.lbl_target_fe[myNum^=3]').text(target_fe[3].toFixed(0));
    /////////////////////////////
    var tblObj_localCrop1 = $('#localCrop1').DataTable({
      "data": json_crop_local,
      "pageLength": 50,
      "columns": [
        {
          "data": "selected_status"
        }, {
          "data": "Food_name"
        }, {
          "data": "Energy"
        }, {
          "data": "Protein"
        }, {
          "data": "VITA_RAE"
        }, {
          "data": "FE"
        }, {
          "data": "Food_grp"
        }, {
          "data": "Weight"
        }, {
          "data": "portion_size"
        }, {
          "data": "m1"
        }, {
          "data": "m2"
        }, {
          "data": "m3"
        }, {
          "data": "m4"
        }, {
          "data": "m5"
        }, {
          "data": "m6"
        }, {
          "data": "m7"
        }, {
          "data": "m8"
        }, {
          "data": "m9"
        }, {
          "data": "m10"
        }, {
          "data": "m11"
        }, {
          "data": "m12"
        }, {
          "data": "food_item_id"
        }, {
          "data": "count_prod"
        }, {
          "data": "count_buy"
        }
      ],

      "columnDefs": [
        {
          targets: [
            1, 2, 3, 4, 5
          ],
          visible: true
        }, {
          targets: '_all',
          bVisible: false
        }, {
          "orderSequence": ["desc"],
          "targets": [2]
        }, {
          "orderSequence": ["desc"],
          "targets": [3]
        }, {
          "orderSequence": ["desc"],
          "targets": [4]
        }, {
          "orderSequence": ["desc"],
          "targets": [5]
        }
      ],
      "initComplete": function (settings, json) {
        // ////add filtering dropdown list
        this.api().columns([6]).every(function () {
          var column = this;
          var select = $('<select style="border: 1px grey double;"><option value=""></option></select>').appendTo($('#myFilter1')).on('change', function () {
            var val = $.fn.dataTable.util.escapeRegex($(this).val());

            column.search(
                    val
                            ? '^' + val + '$'
                            : '',
                    true,
                    false
            ).draw();
          });
          column.data().unique().sort().each(function (d, j) {
            select.append('<option value="' + d + '">' + d + '</option>');
          });
        });

        //////////////////////////////////// ////////set cell color////////////////
        function SetCellColor(i_cell, i_target) {
          let res = '';
          cNum = parseInt(i_cell * 100 / i_target, 10);
          switch (true) {
            case 0 <= cNum && cNum < 50:
              res = '<td style="color:red;">' + i_cell + '</td>';
              break;

            case 50 <= cNum && cNum < 100:
              res = '<td style="color:orange;">' + i_cell + '</td>';
              break;

            case 100 <= cNum:
              res = '<td style="color:green;">' + i_cell + '</td>';
              break;

            default:
              res = '<td>' + i_cell + '</td>';
              break;
          }
          return res;
        }

        /////////////// set barrating /
        function SetBarrating(id_table) {
          $myTable = $('.selected_crops_tbl[myNum=' + id_table + ']');
          let sum_en = 0;
          let sum_pr = 0;
          let sum_va = 0;
          let sum_fe = 0;
          let cr = '';

          //ここからBarratingの記入
          $myTable.children('tbody').children('tr').each(function (j, myRow) {
            sum_en += Number($(myRow).children('td').eq(1).text());
            sum_pr += Number($(myRow).children('td').eq(2).text());
            sum_va += Number($(myRow).children('td').eq(3).text());
            sum_fe += Number($(myRow).children('td').eq(4).text());
          });
          target_scope = Math.trunc(id_table / 100);

          cr += '<tr><td>total</td>' + SetCellColor(Math.round(sum_en), target_en[target_scope]) +
                  SetCellColor(Math.round(sum_pr), target_pr[target_scope]) +
                  SetCellColor(Math.round(sum_va), target_va[target_scope]) +
                  SetCellColor(Math.round(sum_fe), target_fe[target_scope]) + '<td></td><td class="tableItem_hide"><' +
                  '/td><td class="tableItem_hide"></td><td class="tableItem_hide"></td><td class="tableItem_hide">' +
                  '</td><td class="tableItem_hide"></td></tr>';
          $myTable.append(cr);

          let rate_en = Math.round(sum_en * 10 / target_en[target_scope]);
          if (rate_en > 10) {
            rate_en = 10
          } else if (rate_en < 1) {
            rate_en = 1
          }
          let rate_pr = Math.round(sum_pr * 10 / target_pr[target_scope]);
          if (rate_pr > 10) {
            rate_pr = 10
          } else if (rate_pr < 1) {
            rate_pr = 1
          }
          let rate_va = Math.round(sum_va * 10 / target_va[target_scope]);
          if (rate_va > 10) {
            rate_va = 10
          } else if (rate_va < 1) {
            rate_va = 1
          }
          let rate_fe = Math.round(sum_fe * 10 / target_fe[target_scope]);
          if (rate_fe > 10) {
            rate_fe = 10
          } else if (rate_fe < 1) {
            rate_fe = 1
          }

          $('.rating_en[myNum=' + id_table + ']').barrating('set', rate_en); // set barrating
          $('.rating_pr[myNum=' + id_table + ']').barrating('set', rate_pr); // set barrating
          $('.rating_va[myNum=' + id_table + ']').barrating('set', rate_va); // set barrating
          $('.rating_fe[myNum=' + id_table + ']').barrating('set', rate_fe); // set barrating
        }

        ///////////////////////////////////////////// //////////////////////////////////////// ////////////////////////////////////////// ////DrawSelected //////////////////////////
        function DrawSelected_AllTable(id_table) { /// render selected_crops_tbl
          $myTable = $('.selected_crops_tbl[myNum=' + id_table + ']');
          $myTable.find('tr').remove(); //remove all rows
          let sum_en = 0;
          let sum_pr = 0;
          let sum_va = 0;
          let sum_fe = 0;
          let cr = '';
          for (var i = 0; i < json_crop_selected.length; i++) {
            data = json_crop_selected[i];
            if (data.myid_tbl === id_table) {
              cr = '<tr><th>name</th><th>En</th><th>Pr</th><th>Va</th><th>Fe</th><th>Wt</th>' +
                      '<th class="tableItem_hide">id</th><th class="tableItem_hide">food_item_id</th>' +
                      '<th class="tableItem_hide">portion_size</th><th class="tableItem_hide">count_prod</th>' +
                      '<th class="tableItem_hide">count_buy</th><th class="tableItem_hide">En0</th>' +
                      '<th class="tableItem_hide">Pr0</th><th class="tableItem_hide">Va0</th>' +
                      '<th class="tableItem_hide">Fe0</th></tr><tr>';
              cr += '<td>' + data.name + '</td>';
              cr += '<td>' + Math.round(data.Energy * data.total_weight / 100, 1) + '</td>';
              cr += '<td>' + Math.round(data.Protein * data.total_weight / 100, 1) + '</td>';
              cr += '<td>' + Math.round(data.VITA_RAE * data.total_weight / 100, 1) + '</td>';
              cr += '<td>' + Math.round(data.FE * data.total_weight / 100, 1) + '</td>';
              cr += '<td>' + data.total_weight + '</td>';
              cr += '<td class="tableItem_hide"></td>';
              cr += '<td class="tableItem_hide">' + data.food_item_id + '</td>';
              cr += '<td class="tableItem_hide">' + data.portion_size + '</td>';
              cr += '<td class="tableItem_hide">' + data.count_prod + '</td>';
              cr += '<td class="tableItem_hide">' + data.count_buy + '</td>';
              cr += '<td class="tableItem_hide">' + data.Energy + '</td>';
              cr += '<td class="tableItem_hide">' + data.Protein + '</td>';
              cr += '<td class="tableItem_hide">' + data.VITA_RAE + '</td>';
              cr += '<td class="tableItem_hide">' + data.FE + '</td>';
              cr += '</tr>';
            }
          }
          $myTable.append(cr);
          SetBarrating(id_table);
        }

        ///////////////////////////////////////////// //////////////////////////////////////// ////////////////////////////////////////// ////DrawSelected //////////////////////////
        function DrawSelected_addRow(id_table, add_data) { /// render selected_crops_tbl
          let sum_en = 0;
          let sum_pr = 0;
          let sum_va = 0;
          let sum_fe = 0;
          let cr = '';
          $myTbl = $('.selected_crops_tbl[myNum=' + id_table + ']');
          $myTbl.children('tbody').children('tr').last().remove();
          //  $("tr:eq(" + ($("tr").length - 2) + ")").remove();
          $myTbl.append(add_data);

          SetBarrating(id_table);
        }

        ///////////////////////////////////////////// //////////////////////////////////////// ////////////////////////////////////////// ////DrawSelected //////////////////////////
        function DrawSelected_delRow(id_table, food_item_id) { /// render selected_crops_tbl
          $myTable = $('.selected_crops_tbl[myNum=' + id_table + ']');
          $myTable.children('tbody').children('tr').each(function (j, myRow) {
            if ($(myRow).children('td').eq(7).text() === food_item_id) {
              $(myRow).remove();
              return false;
            }
          })
        }

        ////////////////////////////////////////////// //////////init second table as modal dialog add selected rows to text box
        $('#localCrop1 tbody').on('click', 'tr', function () {
          $(this).toggleClass('selected');
          if ($(this).hasClass('selected')) {
            mydata = tblObj_localCrop1.row(this).data();

            //データセットの作成
            dd = {};
            dd["name"] = mydata['Food_name'];
            dd["Energy"] = mydata['Energy'];
            dd["Protein"] = mydata['Protein'];
            dd["VITA_RAE"] = mydata['VITA_RAE'];
            dd["FE"] = mydata['FE'];
            dd["food_item_id"] = mydata['food_item_id'];
            dd["portion_size"] = mydata['portion_size'];
            dd["total_weight"] = 0;
            dd["count_prod"] = 0;
            dd["count_buy"] = 0;
            dd["month"] = '';
            dd["myLocation"] = myLocation_id;
            dd["myid_tbl"] = $('#container_tab_all').attr('myNum');
            dd["target_scope"] = Math.trunc(Number(dd["myid_tbl"]) / 100);

            //tableにデータを表示
            let cr = '';
            cr += '<tr>';
            cr += '<td>' + dd["name"] + '</td>';
            cr += '<td>' + Math.round(Number(dd["Energy"]) * Number(dd["total_weight"]) / 100, 1) + '</td>';
            cr += '<td>' + Math.round(Number(dd["Protein"]) * Number(dd["total_weight"]) / 100, 1) + '</td>';
            cr += '<td>' + Math.round(Number(dd["VITA_RAE"]) * Number(dd["total_weight"]) / 100, 1) + '</td>';
            cr += '<td>' + Math.round(Number(dd["FE"]) * Number(dd["total_weight"]) / 100, 1) + '</td>';
            cr += '<td>0</td>';
            cr += '<td class="tableItem_hide"></td>';
            cr += '<td class="tableItem_hide">' + dd["food_item_id"] + '</td>';
            cr += '<td class="tableItem_hide">' + dd["portion_size"] + '</td>';
            cr += '<td class="tableItem_hide">' + 0 + '</td>';
            cr += '<td class="tableItem_hide">' + 0 + '</td>';
            cr += '<td class="tableItem_hide">' + dd["Energy"] + '</td>';
            cr += '<td class="tableItem_hide">' + dd["Protein"] + '</td>';
            cr += '<td class="tableItem_hide">' + dd["VITA_RAE"] + '</td>';
            cr += '<td class="tableItem_hide">' + dd["FE"] + '</td>';
            cr += '</tr>';

            DrawSelected_addRow(dd["myid_tbl"], cr);

          } else {
            DrawSelected_delRow(dd["myid_tbl"], dd["food_item_id"])
          }
        }); //////////////////////////////////////////////
        /////CreateSelection/////
        function CreateSelection(myNum) {
          let myNum_tmp = myNum;
          let selected_list = [];
          let $modal_localCrop = $('#Modal_localCrop1');
          $('#container_tab_all').attr('myNum', myNum_tmp);
          $modal_localCrop.attr('myNum', myNum_tmp);

          /// get currently selected row//
          $('.selected_crops_tbl[myNum=' + myNum_tmp + '] tr').each(function (myRow) {
            myFood_item = $(this).children('td').eq(0).text();
            myFood_item_id = $(this).children('td').eq(7).text();
            if (myFood_item !== '' && myFood_item !== 'total') {
              selected_list.push(myFood_item_id);
            }
          });

          // de-select all crop in the list
          tblObj_localCrop1.rows().deselect();

          //filter crop by month//
          for (var i = 10; i < 22; i++) {
            tblObj_localCrop1.column(i).search('').columns().search('').draw();
          }
          let myMonth = 0;
          if (myNum_tmp < 200) {
            myMonth = $('.lst_month[myNum=' + myNum_tmp + ']').prop("selectedIndex");
          } else {
            myMonth = $('.lst_month[myNum=' + myNum_tmp + ']').text() - 1;
          }
          tblObj_localCrop1.column(myMonth + 10).search('[123]', true, false).draw();

          /// give selected status to the currently selected item//
          tblObj_localCrop1.rows().every(function (rowIdx, tableLoop, rowLoop) {
            let myrow = this.data();
            if (selected_list.indexOf(String(myrow.food_item_id)) >= 0) {
              this.select();
            }
          });
        }

        /////CreateSelection/////

        ////////// start crop selection (local -> selected)
        $('.btn_add_crop').on('click', function () {
          CreateSelection($(this).attr('myNum'));
          $('#Modal_localCrop1').modal('show');
        }); //////////////////////////////////////////////

        //set pichart image////////////#todo pichartを変更する昨日追加
        function SetPie_img(i_prod, i_buy) {
          let res = 10;
          if (i_prod + i_buy > 0) {
            res = Math.round(i_prod * 10 / (i_prod + i_buy));
          }
          let h = "/static/img/pie_" + String(res) + ".png";
          //console.log(h);
          return h;
        }

        //set pichart value////////
        function SetPie_val(totalCount, myShare) {
          let h = {};
          let res = Math.round(totalCount * myShare / 10);
          h.i_prod = res;
          h.i_buy = totalCount - res;
          return h;
        }

        //////////////////add table edit function////#
        $(".selected_crops_tbl").on("click", "td", function () {
          $('#selected_row').val($(this).closest('tr').index());//いらない？
          $('#tbl_food_SetWeight tr').remove();//tbl_food_SetWeightのテーブル初期化
          let myNum_tmp = $(this).parents('.selected_crops_tbl').attr('myNum');
          let row_food_SetWeight = $("td", $(this).parent());
          let myrowid = row_food_SetWeight.eq(6).text();
          // let myData = tblObj_localCrop1.row(row_food_SetWeight.eq(6).text()).data();
          let por = Number(row_food_SetWeight.eq(8).text());
          let count_prod_tmp = Number(row_food_SetWeight.eq(9).text());
          let count_buy_tmp = Number(row_food_SetWeight.eq(10).text());

          //console.log('count_prod_tmp' + count_prod_tmp + ', count_prod_tmpbuy:' + count_buy_tmp);

          let cou = count_buy_tmp + count_prod_tmp;
          let $foodInfo = $('#tbl_food_SetWeight');
          let mes = 'consumption target(one portion=' + por + 'g)';

          //mytmpdat = tblObj_localCrop1.column(7).search(336);
          //console.log(mytmpdat);

          $foodInfo.attr('myrowid', $(this).closest('tr').index());
          $foodInfo.attr('myNum', myNum_tmp);
          $('#container_tab_all').attr('myNum', myNum_tmp);

          let cr = '<tr><th>name</th><th>En</th><th>Pr</th><th>Va</th><th>Fe</th></tr><tr>';
          cr += '<tr>';
          cr += '<td>' + row_food_SetWeight.eq(0).text() + '</td>';
          cr += '<td>' + row_food_SetWeight.eq(1).text() + '</td>';
          cr += '<td>' + row_food_SetWeight.eq(2).text() + '</td>';
          cr += '<td>' + row_food_SetWeight.eq(3).text() + '</td>';
          cr += '<td>' + row_food_SetWeight.eq(4).text() + '</td>';
          cr += '</tr>';
          $foodInfo.append(cr);
          $('#mystar1-label1').text('consumption target(one portion=' + por + 'g)');
          if (cou === 0) {
            $('#mystar1').barrating('set', 1);
          } else {
            $('#mystar1').barrating('set', cou);
          }
          $('#mystar1-pie').attr('src', SetPie_img(count_prod_tmp, count_buy_tmp));


          //  DrawSelected();

          $('#Modal_foodVol1').modal('show');
        });

        ////////////////// button click to reflect the modificatio　#todo シェア変更機能
        $('#change_weight1').click(function () {
          let motherTable = $('#tbl_food_SetWeight');
          let myrowid = motherTable.attr('myrowid');
          let myid_table = motherTable.attr('myNum');
          myNum_tmp = $('#container_tab_all').attr('myNum');//多分削除可能
          mytable = $('.selected_crops_tbl[myNum=' + myid_table + ']');
          mytable.children('tbody').children('tr').last().remove();//最終行（合計）を削除

          mydata = mytable.children('tbody').children('tr').eq(myrowid);//修正行に移動

          let por = Number(mydata.children('td').eq(8).text());
          //ここからprod-buyのシェア計算///
          let cou = Number($('#mystar1').children("option:selected").val());
          let tmp_prod = mydata.children('td').eq(9).text();
          let tmp_buy = mydata.children('td').eq(10).text();
          let tmp_all = tmp_prod + tmp_buy;
          let myShare = 10;
          if (tmp_all > 0) {
            myShare = Math.round(tmp_prod * 10 / tmp_all);
          }
          tmp_prod = Math.round(cou * myShare / 10);
          tmp_buy = cou - tmp_prod;

          mydata.children('td').eq(1).text(Number(mydata.children('td').eq(11).text()) * por * cou / 100);
          mydata.children('td').eq(2).text(Number(mydata.children('td').eq(12).text()) * por * cou / 100);
          mydata.children('td').eq(3).text(Number(mydata.children('td').eq(13).text()) * por * cou / 100);
          mydata.children('td').eq(4).text(Number(mydata.children('td').eq(14).text()) * por * cou / 100);
          mydata.children('td').eq(9).text(tmp_prod);
          mydata.children('td').eq(10).text(tmp_buy);
          mydata.children('td').eq(5).text(por * cou);
          CreateSelection(myNum_tmp);

          ///////////////////
//                  DrawSelected();
          SetBarrating(myNum_tmp);
          //////////////////
          $('#Modal_foodVol1').modal('hide');
        }); //----------change_weight complete here-------

        //---------set balance pruduce/purchase-----------
        $('#mystar1-pie').on('click', function () {
          let motherTable = $('#tbl_food_SetWeight');
          let myrowid = motherTable.attr('myrowid');
          let myid_table = motherTable.attr('myNum');
          let mytable = $('.selected_crops_tbl[myNum=' + myid_table + ']');
          let mydata = mytable.children('tbody').children('tr').eq(myrowid);//修正行に移動
          let count_prod_tmp = Number(mydata.children('td').eq(9).text());
          let count_buy_tmp = Number(mydata.children('td').eq(10).text());
          myShare = Math.round(count_prod_tmp * 10 / (count_prod_tmp + count_buy_tmp));

          $('#my_Prod_Buy').barrating('set', myShare);// set barrating
          $('#Modal_Prod_Buy').modal('show');
        });//----------balance pruduce/purchase complete here-------

        //// set balance pruduce/purchase //
        $('#change_share1').on('click', function () {
          let myShare = Number($('#my_Prod_Buy').children("option:selected").val());
          let motherTable = $('#tbl_food_SetWeight');
          let myrowid = motherTable.attr('myrowid');
          let myid_table = motherTable.attr('myNum');
          let mytable = $('.selected_crops_tbl[myNum=' + myid_table + ']');
          let mydata = mytable.children('tbody').children('tr').eq(myrowid);//修正行に移動
          let count_prod_tmp = Number(mydata.children('td').eq(9).text());
          let count_buy_tmp = Number(mydata.children('td').eq(10).text());
          let total_count = count_prod_tmp + count_buy_tmp;
          //console.log('count_prod_tmp' + count_prod_tmp + ', count_buy_tmp:' + count_buy_tmp);
          //console.log('myshare=' + myShare);
          count_prod_tmp = Math.round(total_count * myShare / 10);
          count_buy_tmp = total_count - count_prod_tmp;
          mydata.children('td').eq(9).text(count_prod_tmp);
          mydata.children('td').eq(10).text(count_buy_tmp);
          //console.log('count_prod_tmp' + count_prod_tmp + ', count_prod_tmpbuy:' + count_buy_tmp);

          $('#mystar1-pie').attr('src', SetPie_img(count_prod_tmp, count_buy_tmp));
          $('#Modal_Prod_Buy').modal('hide');
        });

        //////////////////btn_save_crop
        $('#btn_save_crop').click(function () {
          let hostUrl = myRoot + 'registDiet/';
          let mydat = getTblData();

          //console.log(mydat);
          Set_CRSF();
          sendJson(mydat, hostUrl);
          //console.log(mydat);
        }); ////////btn_save_crop///////////

        //////////////////getTblData
        function getTblData() { //#todo
          let d = [];
          $('.selected_crops_tbl').each(function (i, myTbl) {
            $(myTbl).children('tbody').children('tr').each(function (j, myRow) {
              let dd = {};
              if ($(myRow).children('td').eq(0).text() !== '' && $(myRow).children('td').eq(0).text() !== 'total') {
                //   dd["myName"] = $(myRow).children('td').eq(0).text();
                dd["total_weight"] = $(myRow).children('td').eq(5).text();
                dd["food_item_id"] = $(myRow).children('td').eq(7).text();
                dd["portion_size"] = $(myRow).children('td').eq(8).text();
                dd["count_prod"] = $(myRow).children('td').eq(9).text();
                dd["count_buy"] = $(myRow).children('td').eq(10).text();

                let myNum_tmp = $(myTbl).attr('myNum');
                let myMonth = 0;
                if (myNum_tmp < 200) {
                  myMonth = $('.lst_month[myNum=' + myNum_tmp + ']').prop("selectedIndex") + 1;
                } else {
                  myMonth = $('.lst_month[myNum=' + myNum_tmp + ']').text();
                }
                dd["month"] = myMonth;
                dd["myid_tbl"] = myNum_tmp;
                dd["myLocation"] = myLocation_id;
                dd["target_scope"] = Math.trunc(myNum_tmp / 100);

                d.push(dd);
              }
            })
          });
          return {"myJson": d};
        }


        //////////////////getTblData //// csrf_tokenの取得に使う//////////////
        function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
              var cookie = jQuery.trim(cookies[i]);
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
              }
            }
          }
          return cookieValue;
        }

        function csrfSafeMethod(method) {
          // these HTTP methods do not require CSRF protection
          return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        function Set_CRSF() {
          var csrf_token = getCookie("csrftoken");
          $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function (xhr, settings) {
              if (!csrfSafeMethod(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
              }
            }
          });
        }

        //////////////////sendJson////
        function sendJson(myjson, hostUrl) {
          $.ajax({
            type: 'post',
            url: hostUrl,
            data: JSON.stringify(myjson),
            contentType: 'application/JSON',
            dataType: 'JSON',
            scriptCharset: 'utf-8',
            success: function (response) {
              window.location.href = response.url;
            },
            error: function (jqXHR, textStatus, errorThrown) {
              alert("fail");
              console.log(jqXHR.responseText);
              console.log(jqXHR.status); //例：404
              console.log(textStatus); //例：error
              console.log(errorThrown); //例：NOT FOUND
              console.log(JSON.stringify(myjson)); //例：NOT FOUND
              console.log(myjson); //例：NOT FOUND
            }
          });
        }

        //////////////////sendJson//// scfript end///////////////////

        //---------- initialize all table (selected_table)---------#todo 初期読み込みでBarratingが反映されない？
        for (var i = 0; i < json_crop_selected.length; i++) {
          data = json_crop_selected[i];
          if (data.myLocation === Number(myLocation_id)) {
            let cr = '';
            cr += '<tr>';
            cr += '<td>' + data.name + '</td>';
            cr += '<td>' + Math.round(data.Energy * data.total_weight / 100, 1) + '</td>';
            cr += '<td>' + Math.round(data.Protein * data.total_weight / 100, 1) + '</td>';
            cr += '<td>' + Math.round(data.VITA_RAE * data.total_weight / 100, 1) + '</td>';
            cr += '<td>' + Math.round(data.FE * data.total_weight / 100, 1) + '</td>';
            cr += '<td>' + data.total_weight + '</td>';
            cr += '<td class="tableItem_hide"></td>';
            cr += '<td class="tableItem_hide">' + data.food_item_id + '</td>';
            cr += '<td class="tableItem_hide">' + data.portion_size + '</td>';
            cr += '<td class="tableItem_hide">' + data.count_prod + '</td>';
            cr += '<td class="tableItem_hide">' + data.count_buy + '</td>';
            cr += '<td class="tableItem_hide">' + data.Energy + '</td>';
            cr += '<td class="tableItem_hide">' + data.Protein + '</td>';
            cr += '<td class="tableItem_hide">' + data.VITA_RAE + '</td>';
            cr += '<td class="tableItem_hide">' + data.FE + '</td>';
            cr += '</tr>';
            DrawSelected_addRow(data.myid_tbl, cr);
          }
        }
      } //----initComplete finish here---////////////////////////////////////////////
    })

  </script>
  <!------------------------------------------------------------->

{% endblock %}
