{% extends 'myApp/_base.html' %}
{% load static %}

{% block content %}
  <div class="container" style="max-width: 540px;">
    <div class="card border-success col-12 my-2 py-0"
         style="max-width: 540px; color:#24535F ;background-color:#D9ECDC; border-width: 2px;">
      <div class="row">
        <div class="col-12">
          <table id="tbl_crops" class="table table-sm table-striped">
            <thead>
            <tr>
              <th>edit</th>
              <th>del</th>
              <th>editor</th>
              <th>recepi_id</th>
            </tr>
            </thead>
            <tbody>
            <div>
              add new ->
              <span>
                  <a class="btn my-0 btn-warning btn-sm align-middle badge px-2"
                     href="{% url 'diet_instant'  recepi_id=0 %}">add new recepi</a>
              </span>
            </div>
            {% for myCrop in mylist%}
              <tr>
                <td>
                  <a class="btn my-0 btn-info btn-sm align-middle badge"
                     href="{% url 'diet_instant'  recepi_id=myCrop.0 %}">edit</a>
                </td>
                <td>
                  <a class="btn my-0 btn-info btn-sm align-middle badge"
                     href="{% url 'diet_instant_delete_confirm'  recepi_id=myCrop.0 %}">del</a>
                </td>
                <td>{{ myCrop.1 }}</td>
                <td>{{ myCrop.0 }}</td>
              </tr>
            {% endfor %}
            </tbody>
            <div class="row">
              <div class="col-12">
              </div>
            </div>
          </table>
          {% if is_paginated %}
            <nav aria-label="...">
              <ul class="pagination">
                {% if page_obj.has_previous %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
                  </li>
                {% endif %}
                {% for i in paginator.page_range %}
                  {% if page_obj.number == i %}
                    <li class="page-item active">
                      <a class="page-link" href="?page={{ i }}">{{ i }}<span class="sr-only">{{ i }}</span></a>
                    </li>
                  {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                  </li>
                {% endif %}
              </ul>
            </nav>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <script>
    //set home link
    $('#nav_link0').attr('href', "{% url 'index10' %}")

  </script>

{% endblock %}
