{% extends 'myApp/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
  <script type="text/javascript" src="{% static 'DataTables/js/jquery.dataTables.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'DataTables/js/dataTables.select.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'DataTables/css/jquery.dataTables.min.css' %}" media="screen">
  <link rel="stylesheet" type="text/css" href="{% static 'DataTables/css/select.dataTables.min.css' %}" media="screen">

  <script src="{% static 'js/jquery.barrating.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/fontawesome-apple.css' %}">

  <script>
    // URLパラメータの取得
    var myFamily = '';
    var myRoot = '';
    var items = [];
    var myList1 = [];

    // グローバル変数の作成
    var selected_rows_id = []
    var jsonData = {{myselected|safe}};

    getHTML_param = function () {
      var url_tmp = window.location.href.split('/');
      var tmp1 = url_tmp[url_tmp.length - 4];
      var tmp2 = url_tmp[url_tmp.length - 3];
      var tmp3 = url_tmp[url_tmp.length - 2];
      url_tmp.pop();
      url_tmp.pop();
      url_tmp.pop();
      url_tmp.pop();
      url_tmp.pop();
      myRoot = url_tmp.join("/") + '/';
      myFamily = tmp1;
      items.length = 0;
      if (tmp3 == '0') {
        items.push('0');
      } else if (tmp3.indexOf('-') < 0) {
        items.push(tmp3);
      } else {
        items = tmp3.split('-');
      }

      myList1.length = 0;
      if (tmp2 == '0') {
        myList1.push('0');
      } else if (tmp2.indexOf('-') < 0) {
        myList1.push(tmp2);
      } else {
        myList1 = tmp2.split('-');
      }
      return tmp1;
    }

    ////star rating/////
    $(function () {
      $('#mystar').barrating({theme: 'fontawesome-apple'});
    });
    //////////// //////////////init first table
    $(document).ready(function () {
      var mytable = $('#example').DataTable({
        data: jsonData,
        "pageLength": 50,
        "columns": [
          {
            "data": "row_sel"
          }, {
            "data": "Food_name"
          }, {
            "data": "Energy"
          }, {
            "data": "Protein"
          }, {
            "data": "VITA_RAE"
          }, {
            "data": "FE"
          }, {
            "data": "row_filter"
          }, {
            "data": "Food_grp"
          }, {
            "data": "Weight"
          }, {
            "data": "portion_size"
          }
        ],

        "columnDefs": [
          {
            targets: [
              1, 2, 3, 4, 5
            ],
            visible: true
          }, {
            targets: '_all',
            visible: false
          }, {
            "orderSequence": ["desc"],
            "targets": [2]
          }, {
            "orderSequence": ["desc"],
            "targets": [3]
          }, {
            "orderSequence": ["desc"],
            "targets": [4]
          }, {
            "orderSequence": ["desc"],
            "targets": [5]
          }
        ],

        "initComplete": function (settings, json) {
          getHTML_param();

          //////////////////add filtering dropdown list
          this.api().columns([7]).every(function () {
            var column = this;
            var select = $('<select><option value=""></option></select>').appendTo($('#myFilter')).on('change', function () {
              var val = $.fn.dataTable.util.escapeRegex($(this).val());

              column.search(
                val
                  ? '^' + val + '$'
                  : '',
                true,
                false
              ).draw();
            });

            column.data().unique().sort().each(function (d, j) {
              select.append('<option value="' + d + '">' + d + '</option>');
            });
          })
        }
      });

      //////////////////init second table as dialog
      var mytable2 = $('#tbl_adddata').DataTable({
        data: jsonData,
        "scrollY": "200px",
        "scrollCollapse": true,
        "paging": false,
        "searching": false,
        "columns": [
          {
            "data": "row_sel"
          }, {
            "data": "Food_name"
          }, {
            "data": "Energy"
          }, {
            "data": "Protein"
          }, {
            "data": "VITA_RAE"
          }, {
            "data": "FE"
          }, {
            "data": "row_filter"
          }, {
            "data": "Food_grp"
          }, {
            "data": "Weight"
          }, {
            "data": "portion_size"
          }
        ],

        "columnDefs": [
          {
            targets: [
              1, 2, 3, 4, 5
            ],
            visible: true
          }, {
            targets: '_all',
            visible: false
          }, {
            "orderSequence": ["desc"],
            "targets": [2]
          }, {
            "orderSequence": ["desc"],
            "targets": [3]
          }, {
            "orderSequence": ["desc"],
            "targets": [4]
          }, {
            "orderSequence": ["desc"],
            "targets": [5]
          }
        ]
      });

      //////////////////add selected rows to text box
      $('#example tbody').on('click', 'tr', function () {
        $(this).toggleClass('selected');
        jQuery('#selected_crops_tbl tr').remove();
        selected_rows_id.length = 0;
        sum_en = 0;
        sum_pr = 0;
        sum_va = 0;
        sum_fe = 0;
        cr = '<tr><th>name</th><th>En</th><th>Pr</th><th>Va</th><th>Fe</th><th>Wt</th></tr><tr>';
        mytable.rows('.selected').every(function (rowIdx, tableLoop, rowLoop) {
          var data = this.data();
          cr += '<td>' + data.Food_name + '</td>';
          cr += '<td>' + Math.round(data.Energy * data.Weight / 100, 1) + '</td>';
          cr += '<td>' + Math.round(data.Protein * data.Weight / 100, 1) + '</td>';
          cr += '<td>' + Math.round(data.VITA_RAE * data.Weight / 100, 1) + '</td>';
          cr += '<td>' + Math.round(data.FE * data.Weight / 100, 1) + '</td>';
          cr += '<td>' + data.Weight + '</td>';
          cr += '</tr>';
          sum_en += data.Energy * data.Weight / 100;
          sum_pr += data.Protein * data.Weight / 100;
          sum_va += data.VITA_RAE * data.Weight / 100;
          sum_fe += data.FE * data.Weight / 100;
          selected_rows_id.push(rowIdx);
        });
        cr += '<tr><td>total</td>' + SetCellColor(Math.round(sum_en), {{dri_e}}) + SetCellColor(Math.round(sum_pr), {{dri_p}}) + SetCellColor(Math.round(sum_va), {{dri_v}}) + SetCellColor(Math.round(sum_fe), {{dri_f}}) + '<td></td></tr>';
        jQuery('#selected_crops_tbl').append(cr);
      });

      //////////////////register selected commodity
      $('#button').click(function () {
        let w = "";
        let n = "";
        let p = "";
        mytable.rows('.selected').every(function (rowIdx, tableLoop, rowLoop) {
          var data = this.data();
          n += "-" + data.food_item_id;
          w += "-" + data.Weight;
          p += "-" + data.portion_size;

          // ... do something with data(), or this.node(), etc
        });
        n = n.substring(1);
        if (n == '') {
          n = 0;
        }
        w = w.substring(1);
        if (w == '') {
          w = 0;
        }
        p = p.substring(1);
        if (p == '') {
          p = 0;
        }
        location.href = myRoot + 'registCrops/' + myFamily + '/' + n + '/' + w + '/' + p + '/';
      });

      //////////////set cell color////////////////
      function SetCellColor(i_cell, i_target) {
        cNum = parseInt(i_cell * 100 / i_target, 10);
        switch (true) {
          case 0 <= cNum && cNum < 50:
            res = '<td class="table-danger">' + i_cell + '</td>';
            break;

          case 50 <= cNum && cNum < 100:
            res = '<td class="table-warning">' + i_cell + '</td>';
            break;

          case 100 <= cNum:
            res = '<td class="table-success">' + i_cell + '</td>';
            break;

          default:
            res = '<td>' + i_cell + '</td>';
            break;
        }
        return res;
      }

      //////////////////add table edit function////
      $("#selected_crops_tbl").on("click", "td", function () {
        $('#selected_row').val($(this).closest('tr').index());
        let por = mytable.row(selected_rows_id[$('#selected_row').val() - 1]).data().portion_size;
        let cou = Number(mytable.row(selected_rows_id[$('#selected_row').val() - 1]).data().Weight / por, 10);
        let foodVal = $("td", $(this).parent());
        let cr = '<tr><th>name</th><th>En</th><th>Pr</th><th>Va</th><th>Fe</th></tr><tr>';
        cr += '<td>' + foodVal.eq(0).text() + '</td>';
        cr += '<td>' + foodVal.eq(1).text() + '</td>';
        cr += '<td>' + foodVal.eq(2).text() + '</td>';
        cr += '<td>' + foodVal.eq(3).text() + '</td>';
        cr += '<td>' + foodVal.eq(4).text() + '</td>';
        $('#foodInfo tr').remove();
        $('#foodInfo').append(cr);
        $('#mystar-label').text("consumption target(one portion=" + por + 'g)');
        $('#mystar').barrating('set', cou);

        $('#myModal01').modal('show');
      });

      ////////////////// button click to reflect the modification
      $('#change_weight').click(function () {
        let por = mytable.row(selected_rows_id[$('#selected_row').val() - 1]).data().portion_size;
        let cou = $('#mystar').children("option:selected").val();
        let tmp_v = por * cou
        $('#selected_crops_tbl tr').eq($('#selected_row').val()).children('td').eq(5).text(tmp_v);
        mytable.row(selected_rows_id[$('#selected_row').val() - 1]).data().Weight = tmp_v;

        ///////////////////
        jQuery('#selected_crops_tbl tr').remove();
        selected_rows_id.length = 0;
        sum_en = 0;
        sum_pr = 0;
        sum_va = 0;
        sum_fe = 0;
        cr = '<tr><th>name</th><th>En</th><th>Pr</th><th>Va</th><th>Fe</th><th>Wt</th></tr><tr>';
        mytable.rows('.selected').every(function (rowIdx, tableLoop, rowLoop) {
          var data = this.data();
          cr += '<td>' + data.Food_name + '</td>';
          cr += '<td>' + Math.round(data.Energy * data.Weight / 100, 1) + '</td>';
          cr += '<td>' + Math.round(data.Protein * data.Weight / 100, 1) + '</td>';
          cr += '<td>' + Math.round(data.VITA_RAE * data.Weight / 100, 1) + '</td>';
          cr += '<td>' + Math.round(data.FE * data.Weight / 100, 1) + '</td>';
          cr += '<td>' + data.Weight + '</td>';
          cr += '</tr>';
          sum_en += data.Energy * data.Weight / 100;
          sum_pr += data.Protein * data.Weight / 100;
          sum_va += data.VITA_RAE * data.Weight / 100;
          sum_fe += data.FE * data.Weight / 100;
          selected_rows_id.push(rowIdx);
        });
        cr += '<tr><td>total</td>' + SetCellColor(Math.round(sum_en), {{dri_e}}) + SetCellColor(Math.round(sum_pr), {{dri_p}}) + SetCellColor(Math.round(sum_va), {{dri_v}}) + SetCellColor(Math.round(sum_fe), {{dri_f}}) + '<td></td></tr>';
        jQuery('#selected_crops_tbl').append(cr);

        //////////////////
        $('#myModal01').modal('hide');
      });

      //////////////////register selected commodity
      $('#btn_addnew').click(function () {
        $('#myModal02').modal('show');
      });

    });
  </script>

  <input type="hidden" value="" id="selected_row">

  <div class="container" style="max-width: 540px;">
    <div class="row">
      <div class="col-2 my-0 px-3">
        <img src="{% static 'img/no5.png' %}">
      </div>
      <div class="col-10 my-0 px-1">
        <h5>
          Diet planning for
          {{name}}
        </h5>
      </div>
    </div>
  </div>

  <div class="container text-white" style="max-width: 540px;">
    <div id="accordion">
      <div class="card border-primary bg-info col-12 mt-2 py-0" style="max-width: 540px;">
        <div class="row">
          <div class="col-12">
            <div class="card-body py-0 px-0">
              <p class="card-text text-warning my-0">
                name:
                {{ name }}
              </p>
              <p class="card-text my-0">
                country:
                {{ name.country_test.NAME_0 }}
              </p>
              <p class="card-text my-0">
                region:
                {{ name.country_test.NAME_1 }}
              </p>
              <p class="card-text my-0">
                province:
                {{ name.country_test.NAME_2 }}
              </p>
              <p class="card-text my-0">
                nutrition target:
                {{ name.nutrition_target }}
              </p>
              <button class="btn btn-link" data-toggle="collapse" data-target="#more_info" aria-expanded="true" aria-controls="more_info">
                more info
              </button>

              <div id="more_info" class="collapse" aria-labelledby="heading{{crop.food_item_id}}" data-parent="#accordion">
                <p class="card-text my-0">
                  stunting rate:
                  {{ name.stunting_rate }}
                </p>
                <p class="card-text my-0">
                  wasting rate:
                  {{ name.wasting_rate }}
                </p>
                <p class="card-text my-0">
                  anemia rate:
                  {{ name.anemia_rate }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container text-white" style="max-width: 540px;">
    <div class="card border-primary bg-info col-12 mt-2" style="max-width: 540px;">
      <div class="card-body py-2 px-0">
        <p class="card-text my-0">
          Nutrition Target:
        </p>
        <div class="table-responsive table-bordered table-striped text-white">
          <table>
            <tbody>
              <tr>
                <td class="text-warning px-1">Target group</td>
                {% for family in families %}
                  <td class="px-1">{{family.nut_group}}</td>
                {% endfor %}
              </tr>
              <tr>
                <td class="text-warning px-1">population size</td>
                {% for family in families %}
                  <td class="px-1">{{family.target_pop}}</td>
                {% endfor %}
              </tr>
              <tr>
                <td class="text-warning px-1">energy(kcal/day)</td>
                {% for family in families %}
                  <td class="px-1">{{family.energy|floatformat:2}}</td>
                {% endfor %}
              </tr>
              <tr>
                <td class="text-warning px-1">protein(g/day)</td>
                {% for family in families %}
                  <td class="px-1">{{family.protein|floatformat:2}}</td>
                {% endfor %}
              </tr>
              <tr>
                <td class="text-warning px-1">VitA(μg/day)</td>
                {% for family in families %}
                  <td class="px-1">{{family.vita|floatformat:2}}</td>
                {% endfor %}
              </tr>
              <tr>
                <td class="text-warning px-1">Fe(mg/day)</td>
                {% for family in families %}
                  <td class="px-1">{{family.fe|floatformat:2}}</td>
                {% endfor %}
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="container text-white" style="max-width: 540px;">
    <div class="card border-primary col-12 mt-2 py-0" style="max-width: 540px;">
      <div class="row">
        <div class="col-12">
          <div class="card-body py-0 px-0">
            <p class="card-title text-dark my-0">
              selected commodities
            </p>
            <p class="card-title text-dark my-0">
              <span style="color:red">■</span>: less than 50%,
              <span style="color:yellow">■</span>: 50-100%,
              <span style="color:blue">■</span>: over 100%
            </p>

            <!-- モーダルの設定 ----------------------------->
            <div class="modal fade" id="myModal01" tabindex="-1" role="dialog" aria-labelledby="myModal01Label">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title text-dark" id="myModal01Label">Edit the weight of food item</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body text-dark">
                    <table border="1" class="table table-striped" id="foodInfo">
                      <tr>
                        <th>name</th>
                        <th>En</th>
                        <th>Pr</th>
                        <th>Va</th>
                        <th>Fe</th>
                        <th>Wt</th>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    </table>

                    <label for="mystar" id="mystar-label">consumption target (1 portion=):</label>
                    <select id="mystar">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>

                    <button type="button" class="btn btn-secondary" data-dismiss="modal">close</button>
                    <button type="button" class="btn btn-primary" id="change_weight">change value</button>
                  </div>
                </div>
                <!-- /.modal-content -->
              </div>
              <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
            <!-------------------------------------->

            <table border="1" class="table table-striped" id="selected_crops_tbl">
              <tr>
                <th>name</th>
                <th>En</th>
                <th>Pr</th>
                <th>Va</th>
                <th>Fe</th>
                <th>Wt</th>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <span>
          <a class="btn btn-outline-secondary mt-2 my-0 py-0 btn-sm" href="{% url 'person_list' familyid=familyid %}">back</a>
        </span>
        <span>
          <a id="button" class="btn btn-outline-secondary text-dark mt-2 my-0 py-0 btn-sm">save</a>
        </span>
      </div>
    </div>
  </div>

  <hr>

  <div class="container" style="max-width: 540px;">
    <div class="my-2" id="myFilter">Food group:
    </div>
    <table id="example" class="display compact" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>s</th>
          <th>Name</th>
          <th>En</th>
          <th>Pr</th>
          <th>VA</th>
          <th>Fe</th>
          <th>c</th>
        </tr>
      </thead>

      <tfoot>
        <tr>
          <th>s</th>
          <th>Name</th>
          <th>En</th>
          <th>Pr</th>
          <th>VA</th>
          <th>Fe</th>
          <th>c</th>
        </tr>
      </tfoot>
    </table>
    <a id="btn_addnew" class="btn btn-outline-secondary text-dark mt-2 my-0 py-0 btn-sm">add food item not in the list above</a>
  </div>

  <!-- モーダルの設定2 ----------------------------->
  <div class="modal fade" id="myModal02" tabindex="-1" role="dialog" aria-labelledby="myModal02Label">
    <div class="modal-dialog " role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Introduce new food item</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="close">
            <span class ="text-danger" aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-dark">
          <div class="container" style="max-width: 540px;">
            <div class="my-2" id="myFilter">Food group:
            </div>
            <table id="tbl_adddata" class="display compact" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th>s</th>
                  <th>Name</th>
                  <th>En</th>
                  <th>Pr</th>
                  <th>VA</th>
                  <th>Fe</th>
                  <th>c</th>
                </tr>
              </thead>

              <tfoot>
                <tr>
                  <th>s</th>
                  <th>Name</th>
                  <th>En</th>
                  <th>Pr</th>
                  <th>VA</th>
                  <th>Fe</th>
                  <th>c</th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
  <!-------------------------------------->

  <!-- モーダルの設定3 ----------------------------->
  <div class="modal fade" id="myModal03" tabindex="-1" role="dialog" aria-labelledby="myModal03Label">
    <div class="modal-dialog " role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Introduce new food item</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="close">
            <span class ="text-danger" aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-dark">
          <div class="container" style="max-width: 540px;">

          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
  <!-------------------------------------->

{% endblock %}
