{% extends 'myApp/base.html' %}
{% load static %}

{% block content %}
<div class="container" style="max-width: 540px;">
	<div class="row">
		<div class="col-2 my-0 px-3">
			<img src="{% static 'img/no1.png' %}">
		</div>
		<div class="col-8 my-0 px-1">
				<h5> target area profile </h5>
		</div>
		<div class="col-2 my-0 px-1">
				<a class="btn btn-outline-secondary badge text-wrap" href="{% url  'Family_create' pk='0' %}">+</a>
		</div>
	</div>
	<div class="row my-0 px-5">
		<h6>
			if you are user before 2019-11-1, please click
			<a href="{% url 'Family_index' %}">here</a>
		</h6>
	</div>
</div>

<div class="container" style="max-width: 540px;">
	{% for family in mylist %}
		<div class="card border-primary col-12 mt-2 py-0" style="max-width: 540px;">
		  <div class="row">
		    <div class="col-12">
		      <div class="card-body bg-light py-1 px-0">
		        <h5 class="card-title my-0">
							{{ family.name }}
						</h5>
						<p class="card-text my-0">
							{{ family.country }}
						</p>
						<p class="card-text my-0">
							{{ family.region }}
						</p>
							<span><a class="btn my-0 btn-outline-secondary btn-sm align-middle badge" href="{% url 'Family_update' pk=family.pk %}">basic info</a></span>
							<span><a class="btn my-0 btn-outline-secondary btn-sm align-middle badge " href="{% url 'Family_delete' pk=family.pk %}">delete all</a></span>
							<span><a class="btn my-0 btn-outline-secondary btn-sm align-middle badge" href="{% url 'person_list' familyid=family.pk %}">next step</a></span>
		      </div>
		    </div>
		  </div>
		</div>
		{% endfor %}
	</div>

{% endblock %}
