{% extends 'myApp/base.html' %}
{% load static %}

{% block content %}
<div class="container" style="max-width: 540px;">
	<div class="row">
		<div class="col-8">
				<h5> target area</h5>
		</div>
		<div class="col-4">
				<a class="btn btn-outline-secondary badge" href="{% url 'Family_create' %}">add</a>
		</div>
	</div>
</div>

<div class="container">
	{% for family in mylist %}
		<div class="card border-primary col-12 mt-2" style="max-width: 540px;">
		  <div class="row">
		    <div class="col-4 d-flex align-items-center">
		      <img src="{% static 'img/110097house96.png' %}" class="card-img">
		    </div>
		    <div class="col-8">
		      <div class="card-body bg-light p-2">
		        <h5 class="card-title">
							{{ family.name }}
						</h5>
						<p class="card-text">
							{{ family.size }}
						</p>
						<p class="card-text">
							{{ family.remark }}
						</p>
						<p>
							<span><a class="btn btn-light btn-sm align-middle badge badge-secondary" href="{% url 'Family_update' pk=family.pk %}">info</a></span>
							<span><a class="btn btn-light btn-sm align-middle badge badge-secondary" href="{% url 'Family_delete' pk=family.pk %}">del </a></span>
						</p>
						<p>
							<span><a class="btn btn-light btn-sm align-middle badge badge-secondary" href="{% url 'person_list' familyid=family.pk %}">trgt</a></span>
							<span><a class="btn btn-light btn-sm align-middle badge badge-secondary" href="{% url 'crop_list' familyid=family.pk %}">crop</a></span>
						</p>
		      </div>
		    </div>
		  </div>
		</div>
		{% endfor %}
	</div>

{% endblock %}
