{% extends 'myApp/base.html' %}
{% load static %}

{% block content %}
<script type="text/javascript" src="{% static 'DataTables/js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'DataTables/js/dataTables.select.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'DataTables/css/jquery.dataTables.min.css' %}" media="screen">
<link rel="stylesheet" type="text/css" href="{% static 'DataTables/css/select.dataTables.min.css' %}" media="screen">


<script>
// URLパラメータの取得
var myFamily = '';
var items = [];

getHTML_param = function() {
  var url_tmp = window.location.href.split('/');
  var tmp1 = url_tmp[url_tmp.length-3];
  var tmp2 = url_tmp[url_tmp.length-2];
  items.length = 0;
  if (tmp2 == '0') {
    items.push('0');
  } else if (tmp2.indexOf('-') < 0) {
    items.push(tmp2);
  } else {
    items = tmp2.split('-');
  }
  return tmp1;
}

$(document).ready(function() {
  var table = $('#example').DataTable( {
    "ajax": "{% static 'DataTables/data/FCT.txt' %}",
    "columns": [
        { "data": "Food_name" },
        { "data": "Protein" },
        { "data": "VITA_RAE" },
        { "data": "FE" },
    ],

    "initComplete": function(settings, json) {
      getHTML_param();
      table.rows().every( function ( rowIdx, tableLoop, rowLoop ) {
        var data = this.data();
        if (items.indexOf(data.food_item_id) >= 0) {
          this.select();
        }
      } );
    }

  } );

    $('#example tbody').on( 'click', 'tr', function () {
        $(this).toggleClass('selected');
    } );


    $('#button').click( function () {
        var s = "";
        var n = "";
        table.rows('.selected').every( function ( rowIdx, tableLoop, rowLoop ) {
            var data = this.data();
            s += data.Food_name + "\n";
            n += "-" + data.FCT_id;

            // ... do something with data(), or this.node(), etc
        } );
        n = n.substring(1);
        window.confirm(s);
        window.confirm(n);

    } );

} );
</script>


<button type="button" id="button" >select count</button>
<table id="example" class="display compact" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Pr</th>
            <th>VA</th>
            <th>Fe</th>
        </tr>
    </thead>

    <tfoot>
        <tr>
          <th>Name</th>
          <th>Pr</th>
          <th>VA</th>
          <th>Fe</th>
        </tr>
    </tfoot>
</table>
{% endblock %}
