{% extends 'myApp/_base.html' %}
{% load static %}

{% block content %}
  <script type="text/javascript" src="{% static 'DataTables/js/jquery.dataTables.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'DataTables/css/jquery.dataTables.min.css' %}" media="screen">

  <div class="container" style="max-width: 540px;">
    <div class="card border-success col-12 my-2 py-0"
         style="max-width: 540px; color:rgba(236,236,236,1) ;background-color:#D9ECDC; border-width: 2px;">
      <div class="row">
        <div class="col-12">
          <table id="tbl_crops" class="table table-striped">
            <thead>
            <tr>
              <th>Food group</th>
              <th>Food name</th>
            </tr>
            </thead>
            <tbody>
            {% for myCrop in mylist %}
              <tr>
                <td>{{ myCrop.Food_grp }}</td>
                <td>{{ myCrop.Food_name }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>



  <script type="text/javascript">

    $(document).ready(function () {
      $('#tbl_crops').DataTable();
    });

  </script>
{% endblock %}
