{% extends 'myApp/_base.html' %}
{% load static %}
{% block content %}

  <div class="container text-white" style="max-width: 540px;">
    <div class="card border-primary bg-info col-12 mt-2 mb-2 py-0" style="max-width: 540px;">
      <div class="row">
        <div class="col-12">
          <div class="card-body py-0 px-0">
            <div class="row">
              <div class="col">
                <h5>Edit Crop Data</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-1 my-2">
                <img src="{% static 'img/no1.png' %}">
              </div>
              <div class="col-10 mx-1">
                <a class="btn btn-block btn-warning my-1" href="{% url 'crop_name_list' myCountryName=myCountryName %}"
                   style="max-width:540px"
                   id='btn02'>Edit Food name
                  <span class="fb fb-help" data-toggle="tooltip"
                        title="change generic food name into more familiar name"></span>
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-1 my-2">
                <img src="{% static 'img/no2.png' %}">
              </div>
              <div class="col-10 mx-1">
                <a class="btn btn-block btn-warning my-1" href="{% url 'crop_feas_list' %}" style="max-width:540px"
                   id='btn01'>Crop Feasibility Check
                  <span class="fb fb-help" data-toggle="tooltip"
                        title="feasibility check to introduce new food item in target area"></span>
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-1 my-2">
                <img src="{% static 'img/no3.png' %}">
              </div>
              <div class="col-10 mx-1">
                <a class="btn btn-block btn-warning my-1" href="{% url 'fct_list' %}" style="max-width:540px"
                   id='btn02'>Edit FCT
                  <span class="fb fb-help" data-toggle="tooltip"
                        title="you can edit the number in Food Composition Talbe"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}
