{% extends 'myApp/base.html' %}
{% load static %}
{% block content %}

<div class="container float-left" style="max-width: 540px;">
	<div class="row">
		<div class="col text-danger">
			<h5>Welcome to NFA tool!</h5>
		</div>
	</div>
	<div class="row">
		<div class="col">
				<a class="btn btn-outline-secondary my-1" href="{% url 'Family_filter' %}">Start Application</a>
		</div>
	</div>
	<div class="row">
		<div class="col">
				<a class="btn btn-outline-secondary my-1" href="{% url 'login' %}">Sign in</a>
		</div>
	</div>
	<div class="row">
		<div class="col">
				<a class="btn btn-outline-secondary my-1" href="{% url 'register' %}">New user</a>
		</div>
	</div>
	<div class="row">
		<div class="col">
				<a class="btn btn-outline-secondary my-1" href="{% url 'usage' %}">How to use?</a>
		</div>
	</div>

	<div class="row">
		<div class="col">
				<a class="btn btn-outline-secondary my-1" href="{% url 'who' %}">who we are</a>
		</div>
	</div>
</div>

{% endblock %}
