{% extends 'myApp/base.html' %}
{% load static %}
{% block content %}

	<div class="container text-white border-primary alert-secondary mt-2 mb-2 py-0">
		<div class="row">
			<div class="col text-primary">
				<h5 >Welcome to NFA tool!</h5>
			</div>
		</div>
		<div class="row">

			<div class="col-6 col-md-4">
				<div class="card bg-info">
					<div class="card-body py-2 px-2">
						Start from here!
						<a class="btn btn-warning m-auto btn-block" href="{% url 'index02' %}">Start Application</a>
					</div>
				</div>
			</div>
			<div class="col-6 col-md-8"></div>
			<div class="col-6 col-md-4">
				<div class="card bg-info">
					<div class="card-body py-2 px-2">
						If you are new user, please register from here
						<a class="btn btn-warning m-auto btn-block" href="{% url 'register' %}">New user</a>
					</div>
				</div>
			</div>
			<div class="col-6 col-md-4">
				<div class="card bg-info">
					<div class="card-body py-2 px-2">
						Sign in from here if you change your device
						<a class="btn btn-warning m-auto btn-block" href="{% url 'login' %}">Sign in</a>
					</div>
				</div>
			</div>
			<div class="col-6 col-md-4">
				<div class="card bg-info">
					<div class="card-body py-2 px-2">
						Sign out if you want to change user
						<a class="btn btn-warning m-auto btn-block" href="{% url 'logout' %}">Sign in</a>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
