{% extends 'myApp/_base.html' %}
{% load static %}
{% block content %}

  <div class="container text-white" style="max-width: 540px;">
    <div id="accordion2">
      <div class="card border-primary bg-info col-12 mt-2 mb-2 py-0" style="max-width: 540px;">
        <div class="row">
          <div class="col-12">
            <div class="card-body py-0 px-0">
              <div class="row">
                <div class="col">
                  <h5>Welcome to NFA tool!</h5>
                </div>
              </div>
              <div class="row">
                <div class="col-1 my-2">
                  <img src="{% static 'img/no1.png' %}">
                </div>
                <div class="col-10 mx-1">
                  <a class="btn btn-block btn-warning my-1" href="{% url 'Location_list' %}" style="max-width:540px"
                     id='btn01'>Target location</a>
                </div>
              </div>
              <div class="row">
                <div class="col-1 my-2">
                  <img src="{% static 'img/no2.png' %}">
                </div>
                <div class="col-10 mx-1">
                  <a class="btn btn-block btn-warning my-1" href="#" style="max-width:540px" id='btn02'>Food
                    availability</a>
                </div>
              </div>
              <div class="row">
                <div class="col-1 my-2">
                  <img src="{% static 'img/no3.png' %}">
                </div>
                <div class="col-10 mx-1">
                  <a class="btn btn-block btn-warning my-1" href="#" style="max-width:540px" id='btn04'>Target
                    Benefitiary</a>
                </div>
              </div>
              <div class="row">
                <div class="col-1 my-2">
                  <img src="{% static 'img/no4.png' %}">
                </div>
                <div class="col-10 mx-1">
                  <a class="btn btn-block btn-warning my-1" href="#" style="max-width:540px" id='btn05'>Dietary Planning
                    1</a>
                </div>
              </div>
              <div class="row">
                <div class="col-1 my-2">
                  <img src="{% static 'img/no5.png' %}">
                </div>
                <div class="col-10 mx-1">
                  <a class="btn btn-block btn-warning my-1" href="#" style="max-width:540px" id='btn06'>Result</a>
                </div>
              </div>
              <div class="row">
                <div class="col-1 my-2">
                  <img src="{% static 'img/no_other.png' %}">
                </div>
                <div class="col-10 mx-1">
                  <a class="btn btn-block btn-warning my-1" href="#" style="max-width:540px" id='btn07'>Crop Editor</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    window.onload = function () {
      var DATA = JSON.parse('{{ myParam|safe }}');

      document.getElementById('btn02').classList.add("disabled");
      document.getElementById('btn04').classList.add("disabled");
      document.getElementById('btn05').classList.add("disabled");
      document.getElementById('btn06').classList.add("disabled");
      document.getElementById('btn07').classList.add("disabled");

      if (DATA.myLocation > 0) {
        document.getElementById('btn02').classList.remove("disabled");
        var myURL = '/crop_select/' + DATA.myLocation + '/';
        document.getElementById('btn02').href = myURL;
        if (DATA.myCrop != "0") {
          document.getElementById('btn04').classList.remove("disabled");
          var myURL = '/person/list/' + DATA.myLocation + '/1/';
          document.getElementById('btn04').href = myURL;
          document.getElementById('btn07').classList.remove("disabled");
          var myURL = '/index04/';
          document.getElementById('btn07').href = myURL;
//          console.log(DATA.myTarget);
          if (DATA.myTarget > 0) {
            document.getElementById('btn05').classList.remove("disabled");
            var myURL = '/Diet1/' + DATA.myCountryName + '/';
            document.getElementById('btn05').href = myURL;
            if (DATA.myDiet > 0) {
              document.getElementById('btn06').classList.remove("disabled");
              var myURL = '/Output_list/' + DATA.myLocation + '/';
              document.getElementById('btn06').href = myURL;
            }
          }
        }
      }
    }

  </script>

{% endblock %}
