{% extends 'myApp/_base.html' %}
{% load static %}

{% block content %}
	<div class="container" style="max-width: 540px;">
		<div class="row">
			<div class="col-2 my-0 px-3">
				<img src="{% static 'img/no1.png' %}">
			</div>
			<div class="col-8 my-0 px-1">
				<h5>
					target area profile
				</h5>
			</div>
			<div class="col-2 my-0 px-1">
				<span>
					<a class="btn btn-info badge text-wrap" href="{% url  'Location_create' %}">+</a>
				</span>
				<span>
					<a class="btn my-0 btn-warning btn-sm align-middle badge" href="{% url 'index02'  %}" id="btn_save">back</a>
				</span>
			</div>
		</div>
	</div>

	<div class="container" style="max-width: 540px;">
		{% for Location in mylist %}
			{% ifequal Location.id myLocation %}
				<div class="card border-success col-12 my-2 py-0" style="max-width: 540px; color:#24535F ;background-color:#D9ECDC; border-width: 2px;">
			{% else %}
				<div class="card border-primary col-12 mt-2 py-0" style="max-width: 540px;">
			{% endifequal %}
					<div class="row">
						<div class="col-12">
							<div class="card-body py-1 px-0">
								<h5 class="card-title my-0">
									{{ Location.name }}
								</h5>
								<p class="card-text my-0">
									{{ Location.myCountry.NAME_0 }}
								</p>
								<p class="card-text my-0">
									{{ Location.myCountry.NAME_1 }}
								</p>
								<p class="card-text my-0">
									{{ Location.myCountry.NAME_2 }}
								</p>
								<p class="card-text my-0">
									{{ Location.myCountry.NAME_3 }}
								</p>
								<span>
									<a class="btn my-0 btn-info btn-sm align-middle badge" href="{% url 'Location_update' pk=Location.pk %}">edit / select</a>
								</span>
								<span>
									<a class="btn my-0 btn-info btn-sm align-middle badge " href="{% url 'Location_delete' pk=Location.pk %}">delete</a>
								</span>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>

	{% endblock %}
