<div class="row">
    <div class="col-3">
        <p>id</p>
    </div>
    <div class="col-9">
        <p>{{ object.id }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>Country</p>
    </div>
    <div class="col-9">
        <p>{{ object.myCountry.NAME_0 }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>Region</p>
    </div>
    <div class="col-9">
        <p>{{ object.myCountry.NAME_1 }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>Province</p>
    </div>
    <div class="col-9">
        <p>{{ object.myCountry.NAME_2 }}</p>
    </div>
</div>
