{% extends 'myApp/_base.html' %}
{% load static %}
{% load humanize %}

{% block content %}

  <div class="container" style="max-width: 650px;">
    <div class="mod-tbl">
      <table id="tbl_cropping" class="my-3">
        <thead>
        <tr>
          <th>name</th>
          <th>Jan</th>
          <th>Feb</th>
          <th>Mar</th>
          <th>Apr</th>
          <th>May</th>
          <th>Jun</th>
          <th>Jul</th>
          <th>Aug</th>
          <th>Sep</th>
          <th>Oct</th>
          <th>Nov</th>
          <th>Dec</th>
          <th>Sum</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>aaaaaaaaaaaaaaaaaaaaaaaaa</td>
          <td>Jan</td>
          <td>Feb</td>
          <td>Mar</td>
          <td>Apr</td>
          <td>May</td>
          <td>Jun</td>
          <td>Jul</td>
          <td>Aug</td>
          <td>Sep</td>
          <td>Oct</td>
          <td>Nov</td>
          <td>Dec</td>
          <th>Sum</th>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!------------------------------------------------------------->
  <style media="screen">
    .mod-tbl {
      max-width: 650px;
      overflow: auto;
    }

    table {
      table-layout: fixed;
      border: 2px grey solid;
      border-collapse: collapse;
      min-width: 100%;
    }

    tbody th {
      width: 200px;
      min-width: 200px;
      border-collapse: collapse;
      border: 2px grey solid;
    }

    td {
      width: 50px;
      min-width: 50px;
      border: 2px grey solid;
      border-collapse: collapse;
      text-align: center;
      vertical-align: middle;
    }

    th {
      color: whitesmoke;
      background-color: #5a88fd;
    }


    /* 1列目のスタイル */
    table tr td:nth-of-type(1) {
      width: 200px;
      min-width: 200px;
    }

    table tr:nth-child(odd) td {
      background-color: #EAF6FD;
    }

    table tr:nth-child(even) td {
      background-color: #EFEFEF;
    }


  </style>

  <script>
    // グローバル変数の作成
    var json_crop_selected = {{mylist_selected|safe}};
    console.log(json_crop_selected);

    ///////////////////////////////////////////// //////////////////////////////////////// ////////////////////////////////////////// ////DrawSelected //////////////////////////
    // initialize all table (selected_table)
    mytable = $('#tbl_cropping').children('tbody');
    mytable.children('tr').remove();
    let dd = {};
    for (var j = 0; j < json_crop_selected.length; j++) {
      data = json_crop_selected[j];
      if (dd[data.name]) {
        let d = {};
        dd[data.name][data.month - 1] = [data.total_weight, data.count_prod, data.count_buy];
      } else {
        let d = {};
        d[String(data.month - 1)] = [data.total_weight, data.count_prod, data.count_buy];
        dd[data.name] = d;
      }
    }
    console.log('output3書込み用データを更新しました');
    console.log(dd);

    for (var tmp in dd) {
      let cr = '<tr><td>' + tmp + '</td>';
      let total_w = 0;
      for (var i = 0; i < 13; i++) {
        if (dd[tmp][i]) {
          console.log('count=' + i + ':' + dd[tmp][i]);
          dd[tmp][i][0] = Math.round(Number(dd[tmp][i][0]) * 365 / 1000);//1年分に変換
          total_w += dd[tmp][i][0];
          cr += SetDiv(dd[tmp][i]);
//          console.log(SetDiv(dd[tmp][i]));
        } else if (i == 12) {
          cr += '<td>' + total_w + '</td>';
        } else {
          cr += '<td></td>';
        }
      }
      cr += '</tr>';
      mytable.append(cr);
    }

    function SetDiv(myKey) {
      let newKey = '';
      let picNum = 0;
      console.log()
      if (myKey[1] + myKey[2] > 0) {
        picNum = Math.round(myKey[1] * 10 / (myKey[1] + myKey[2]));
      }
      newKey = '<td><img src="/static/img/pie_' + String(picNum) + '.png" style="width: 30px">' + String(myKey[0]) + '</td>';

      return newKey;
    }
  </script>

{% endblock %}
