{% extends 'myApp/_base.html' %}
{% load static %}
{% block content %}

	<div class="container text-white" style="max-width: 540px;">
		<div id="accordion2">
			<div class="card border-primary bg-info col-12 mt-2 mb-2 py-0" style="max-width: 540px;">
				<div class="row">
					<div class="col-12">
						<div class="card-body py-0 px-0">
							<div class="row">
								<div class="col">
									<h5>Result of the assessment</h5>
								</div>
							</div>
							<div class="row">
								<div class="col-1 my-2">
									<img src="{% static 'img/no1.png' %}">
								</div>
								<div class="col-10 mx-1">
									<a class="btn btn-block btn-warning my-1" href="{% url 'output1' myLocation=myLocation%}" style="max-width:540px" id='btn01'>Output1</a>
								</div>
							</div>
							<div class="row">
								<div class="col-1 my-2">
									<img src="{% static 'img/no2.png' %}">
								</div>
								<div class="col-10 mx-1">
									<a class="btn btn-block btn-warning my-1" href="{% url 'output2' myLocation=myLocation %}" style="max-width:540px" id='btn02'>Output2</a>
								</div>
							</div>
							<div class="row">
								<div class="col-1 my-2">
									<img src="{% static 'img/no3.png' %}">
								</div>
								<div class="col-10 mx-1">
									<a class="btn btn-block btn-warning my-1" href="{% url 'output3' myLocation=myLocation %}" style="max-width:540px" id='btn03'>Output2</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


{% endblock %}
