{% extends 'myApp/_base.html' %}
{% load static %}
{% load humanize %}

{% block content %}

  <script type="text/javascript" src="{% static 'js/jquery.barrating.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/fontawesome-apple.css' %}">
  <link rel="stylesheet" href="{% static 'css/bars-1to10.css' %}">

  <div id="stepid" hidden>{{ stepid }}</div>
  <div class="container" style="max-width: 580px;">
    <div class="card  border-dark bg-light col-12 mt-2 py-0" style="max-width: 540px;">
      <div class="row">
        <div class="col-12">
          <div class="card-body py-0 px-0">
            <p class="card-text my-0">
              country:
              {{ myLocation.myCountry.NAME_0 }}
            </p>
            <p class="card-text my-0">
              region:
              {{ myLocation.myCountry.NAME_1 }}
            </p>
            <p class="card-text my-0">
              province:
              {{ myLocation.myCountry.NAME_2 }}
            </p>
            <p class="card-text my-0">
              nutrition target:
              {{ myLocation.nutrition_target }}
            </p>
            <button class="btn btn-link" data-toggle="collapse" data-target="#more_info" aria-expanded="true"
                    aria-controls="more_info">
              more info
            </button>

            <div id="more_info" class="collapse" aria-labelledby="heading{{ crop.food_item_id }}"
                 data-parent="#accordion">
              <p class="card-text my-0">
                stunting rate:
                {{ myLocation.stunting_rate }}
              </p>
              <p class="card-text my-0">
                wasting rate:
                {{ myLocation.wasting_rate }}
              </p>
              <p class="card-text my-0">
                anemia rate:
                {{ myLocation.anemia_rate }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="result_box1" class="container-fluid" style="max-width: 580px;">
  </div>

  <!-- ここから 季節毎のtable用テンプレート ----------------------------->
  <script id="template_season" type="text/x-custom-template">
    <div class="card border-success border-5 rounded col-12 mt-2 py-1 card_season class_myNum"
         style="max-width: 540px; color:#24535F ;background-color:#D9ECDC;">
      <div class="card-body py-0 px-0">
        <div class="text-dark season_title"></div>

        <p class="card-title text-dark my-1">
          <span style="color:red">■</span>: less than 50%,
          <span style="color:orange">■</span>: 50-100%,
          <span style="color:green">■</span>: over 100%
        </p>

        <table border="1" class="table table-striped selected_crops_tbl class_myNum">
          <tr>
            <th>name</th>
            <th>En</th>
            <th>Pr</th>
            <th>Va</th>
            <th>Fe</th>
            <th>Wt</th>
          </tr>
          <tr>
            <td>total</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>

        <div class="form-row no-gutters my-0 py-0" style="height:30px;">
          <div class="col-3">
            <label class="text-dark" for="rating_en">Energy</label>
          </div>
          <div class="col-2">
            <div class="text-dark lbl_target_en class_myNum"></div>
          </div>
          <div class="col-7">
            <select class="rating_DRI rating_en class_myNum">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>
        </div>

        <div class="form-row no-gutters my-0 py-0" style="height:30px;">
          <div class="col-3">
            <label class="text-dark" for="rating_pr">Protein</label>
          </div>
          <div class="col-2">
            <div class="text-dark lbl_target_pr class_myNum"></div>
          </div>
          <div class="col-7">
            <select class="rating_DRI rating_pr class_myNum">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>
        </div>

        <div class="form-row no-gutters my-0" style="height:30px;">
          <div class="col-3">
            <label class="text-dark" for="rating_va">VitA</label>
          </div>
          <div class="col-2">
            <div class="text-dark lbl_target_va class_myNum"></div>
          </div>
          <div class="col-7">
            <select class="rating_DRI rating_va class_myNum">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>
        </div>

        <div class="form-row no-gutters my-0" style="height:30px;">
          <div class="col-3">
            <label class="text-dark " for="rating_fe">Iron</label>
          </div>
          <div class="col-2">
            <div class="text-dark lbl_target_fe class_myNum"></div>
          </div>
          <div class="col-7">
            <select class="rating_DRI rating_fe class_myNum">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>
        </div>

      </div>
    </div>
  </script>

  <!-- ここから target枠のテンプレート ----------------------------->
  <script id="template_target" type="text/x-custom-template">
    <div class="card border-info border-5 rounded col-12 mt-2 py-1"
         style="max-width: 540px; color:#24535F ;background-color:#e9ecef;">
      <div class="text-dark target_group"></div>
      <div class="card-body py-0 px-0 result_box2">
      </div>
    </div>

  </script>

  <!------------------------------------------------------------->
  <style media="screen">

    /* 行または列の非表示*/
    .tableItem_hide {
      display: none;
    }
  </style>

  <script>
    // グローバル変数の作成
    var selected_rows_id = [];
    var myLocation = '';
    var myRoot = '';
    var json_crop_selected = {{mylist_selected|safe}};
    var seasons = {{season_name|safe}};
    var season_list = {{ season_list|safe }};
    var season_name = {{ season_name|safe }};
    var target_en = [];
    var target_pr = [];
    var target_va = [];
    var target_fe = [];
    var dri_target_en = {{ dri_list_en|safe }};
    var dri_target_pr = {{ dri_list_pr|safe }};
    var dri_target_va = {{ dri_list_va|safe }};
    var dri_target_fe = {{ dri_list_fe|safe }};
    var dri_target_vol = {{ dri_list_vo|safe }};
    var myTarget = {{ myTarget|safe }};
    var myRange = [];
    var template_Box = $('#template_target').html();
    var template_Table = $('#template_season').html();
    //    console.error(nutrient_target2);
    console.error(dri_target_en);
    const target_name = [
      'child 6-23 month',
      'child 24-59 month',
      'child 6-9 yr',
      'adolescent male',
      'adolescent female',
      'adult male',
      'adult female',
      'pregnant',
      'lactating',
      'adult',
      'adolescent pregnant',
      'adolescent lact',
      'adolescent all'
    ];

    let url_tmp = window.location.href.split('/');
    let tmp1 = url_tmp[url_tmp.length - 2];
    url_tmp.pop();
    url_tmp.pop();
    url_tmp.pop();
    myRoot = url_tmp.join("/") + '/';
    var myLocation_id = tmp1;

    ////////////////////////////////////////////////////
    // タブ、テーブルのhtml追加
    ////////////////////////////////////////////////////
    $.each(myTarget, function (index1, val1) {
      let cr = '';
      // タブを追加する
      let myBox = $('#result_box1').append(template_Box);

      $.each(myBox.find('.target_group'), function (index2, val2) {
        if (!($(val2).text())) {
          $(val2).text('Target: ' + target_name[Number(val1)]);
          $.each(season_list, function (index3, val3) {
            let myBox2 = $(val2).append(template_Table);

            // テーブル番号の取得
            let tbl_num2 = Number(val3) + (Number(val1) + 1) * 100;
            myRange.push(tbl_num2);

            // 追加されたtableに季節情報、テーブル番号を追加
            $.each(myBox2.find('.card_season'), function (index4, val4) {
              if (!(val4.hasAttribute('myNum'))) {
                $(val4).attr('myNum', tbl_num2);
                $(val4).find('.class_myNum').attr('myNum', tbl_num2);
                $(val4).find('.season_title').text('Season: ' + season_name[index3]);
              }
            });

          })
        }
      });
    });
    ////////////////////////////////////////////////////
    // タブ、テーブルのhtml追加ここまで
    ////////////////////////////////////////////////////


    //////////////// star rating/////
    $(function () {
      $('.rating_DRI').barrating({theme: 'bars-1to10', showSelectedRating: false, readonly: true}); // set barrating
    });
    ////////////////////////////////
    //////////////////////////////////// ////////set cell color////////////////
    function SetCellColor(i_cell, i_target) {
      let res = '';
      cNum = parseInt(i_cell * 100 / i_target, 10);
      switch (true) {
        case 0 <= cNum && cNum < 50:
          res = '<td style="color:red;">' + i_cell + '</td>';
          break;

        case 50 <= cNum && cNum < 100:
          res = '<td style="color:orange;">' + i_cell + '</td>';
          break;

        case 100 <= cNum:
          res = '<td style="color:green;">' + i_cell + '</td>';
          break;

        default:
          res = '<td>' + i_cell + '</td>';
          break;
      }
      return res;
    }

    ///////////////////////////////////////////// //////////////////////////////////////// ////////////////////////////////////////// ////DrawSelected //////////////////////////
    /////////////// set barrating /
    function SetBarrating(id_table) {
      $myTable = $('.selected_crops_tbl[myNum=' + id_table + ']');
      let sum_en = 0;
      let sum_pr = 0;
      let sum_va = 0;
      let sum_fe = 0;
      let cr = '';

      //ここからBarratingの記入
      $myTable.children('tbody').children('tr').each(function (j, myRow) {
        sum_en += Number($(myRow).children('td').eq(1).text());
        sum_pr += Number($(myRow).children('td').eq(2).text());
        sum_va += Number($(myRow).children('td').eq(3).text());
        sum_fe += Number($(myRow).children('td').eq(4).text());
      });
      target_scope = Math.trunc(id_table / 100);

      cr += '<tr><td>total</td>' + SetCellColor(Math.round(sum_en), dri_target_en[target_scope]) +
              SetCellColor(Math.round(sum_pr), dri_target_pr[target_scope]) +
              SetCellColor(Math.round(sum_va), dri_target_va[target_scope]) +
              SetCellColor(Math.round(sum_fe), dri_target_fe[target_scope]) + '<td></td><td class="tableItem_hide"><' +
              '/td><td class="tableItem_hide"></td><td class="tableItem_hide"></td><td class="tableItem_hide">' +
              '</td><td class="tableItem_hide"></td></tr>';
      $myTable.append(cr);

      let rate_en = Math.round(sum_en * 10 / dri_target_en[target_scope]);
      if (rate_en > 10) {
        rate_en = 10
      } else if (rate_en < 1) {
        rate_en = 1
      }
      let rate_pr = Math.round(sum_pr * 10 / dri_target_pr[target_scope]);
      if (rate_pr > 10) {
        rate_pr = 10
      } else if (rate_pr < 1) {
        rate_pr = 1
      }
      let rate_va = Math.round(sum_va * 10 / dri_target_va[target_scope]);
      if (rate_va > 10) {
        rate_va = 10
      } else if (rate_va < 1) {
        rate_va = 1
      }
      let rate_fe = Math.round(sum_fe * 10 / dri_target_fe[target_scope]);
      if (rate_fe > 10) {
        rate_fe = 10
      } else if (rate_fe < 1) {
        rate_fe = 1
      }

      $('.rating_en[myNum=' + id_table + ']').val(rate_en); // set barrating
      $('.rating_pr[myNum=' + id_table + ']').val(rate_pr); // set barrating
      $('.rating_va[myNum=' + id_table + ']').val(rate_va); // set barrating
      $('.rating_fe[myNum=' + id_table + ']').val(rate_fe); // set barrating
    }

    ///////////////////////////////////////////// //////////////////////////////////////// ////////////////////////////////////////// ////DrawSelected //////////////////////////
    function DrawSelected_addRow(id_table, add_data) { /// render selected_crops_tbl
      let sum_en = 0;
      let sum_pr = 0;
      let sum_va = 0;
      let sum_fe = 0;
      let cr = '';
      $myTbl = $('.selected_crops_tbl[myNum=' + id_table + ']');
      $myTbl.children('tbody').children('tr').last().remove();
      //  $("tr:eq(" + ($("tr").length - 2) + ")").remove();
      $myTbl.append(add_data);

      SetBarrating(id_table);
    }

    ///////////////////////////////////////////// //////////////////////////////////////// ////////////////////////////////////////// ////DrawSelected //////////////////////////
    // initialize all table (selected_table)
    for (var i = 0; i < json_crop_selected.length; i++) {
      data = json_crop_selected[i];
      if (data.myid_tbl > 0) {
        let cr = '';
        cr += '<tr>';
        cr += '<td>' + data.name + '</td>';
        cr += '<td>' + Math.round(data.Energy * data.total_weight / 100, 1) + '</td>';
        cr += '<td>' + Math.round(data.Protein * data.total_weight / 100, 1) + '</td>';
        cr += '<td>' + Math.round(data.VITA_RAE * data.total_weight / 100, 1) + '</td>';
        cr += '<td>' + Math.round(data.FE * data.total_weight / 100, 1) + '</td>';
        cr += '<td>' + data.total_weight + '</td>';
        cr += '</tr>';
        DrawSelected_addRow(Number(data.myid_tbl), cr);
//        $('.lst_month[myNum=' + (Number(data.myid_tbl) + 300) + ']').html(data.month);
      }
    }


  </script>

{% endblock %}
