{% extends 'myApp/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}

	<div class="container" style="max-width: 540px;">
		<div class="row">
				<div class="col-2 my-0 px-1">
					<img src="{% static 'img/no2.png' %}">
				</div>
				<div class="col-10 my-0 px-1">
						<h5>  agree on nutrition target for {{name}} </h5>
				</div>
		</div>
	</div>

	<div class="container text-white" style="max-width: 540px;">
			<div class="card border-primary bg-info col-12 mt-2 py-0" style="max-width: 540px;">
			  <div class="row">
			    <div class="col-12">
			      <div class="card-body py-0 px-0">
							<p class="card-text text-danger my-0">
	              name: {{ name }}
	            </p>
	            <p class="card-text my-0">
	              country: {{ country }}
	            </p>
	            <p class="card-text my-0">
	              region: {{ region }}
	            </p>
	            <p class="card-text my-0">
	              nutrition target: {{ nutrition_target }}
	            </p>
			      </div>
			    </div>
			  </div>
			</div>
		</div>

	<div class="container text-white" style="max-width: 540px;">
			<div class="card border-primary bg-info col-12 mt-2" style="max-width: 540px;">
				<div class="row">
					<div class="col-12">
						<div class="card-body py-0 px-0">
							<div class="row">
	              <div class="col-5 text-danger ">
	                sex:
	              </div>
	              <div class="col-7 ">
	                {{sex}}
	              </div>
	            </div>
	            <div class="row">
	              <div class="col-5 text-danger ">
	                age:
	              </div>
	              <div class="col-7 ">
	                {{age}}
	              </div>
	            </div>
							<div class="row">
								<div class="col-7  text-danger ">
									Nutrients
								</div>
								<div class="col-5 text-danger ">
									Target
								</div>
							</div>
							<div class="row">
								<div class="col-7">
									protein(g/day)
								</div>
								<div class="col-5 ">
									{{dri_p|floatformat:2}}
								</div>
							</div>
							<div class="row">
								<div class="col-7 ">
									vit-A(μg/day)
								</div>
								<div class="col-5 ">
									{{dri_v|intcomma}}
								</div>
							</div>
							<div class="row">
								<div class="col-7 ">
									Fe(mg/day)
								</div>
								<div class="col-5 ">
									{{dri_f|floatformat:2}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-7">
				</div>
				<div class="col-12">
						<span><a class="btn btn-outline-secondary mt-2 my-0 py-0 btn-sm" href="{% url 'Family_index' %}">back</a></span>
						<span><a class="btn btn-outline-secondary mt-2 my-0 py-0 btn-sm" href="{% url 'person_create' familyid=myid %}">+</a></span>
						<span><a class="btn btn-outline-secondary mt-2 my-0 py-0 btn-sm align-middle" href="{% url 'fctdata' familyid=myid items=crop_list %}">next step</a></span>
				</div>
			</div>
		</div>

			<hr>


			<div class="container" style="max-width: 540px;">
				{% for family in families %}
					<div class="card border-primary col-12 mt-2" style="max-width: 540px;">
					  <div class="row">
					    <div class="col-12">
					      <div class="card-body bg-light py-0 px-0">
									<p class="card-text my-0">
										sex: {{ family.get_sex_display }}
									</p>
									<p class="card-text my-0">
										age: {{ family.get_age_display }}
									</p>
									<p class="card-text my-0">
										other: {{ family.get_women_s_display }}
									</p>
										<span><a class="btn mb-2 btn-outline-success btn-sm align-middle " href="{% url 'person_update' familyid=family.familyid pk=family.pk %}">edit</a></span>
										<span><a class="btn mb-2 btn-outline-success btn-sm align-middle " href="{% url 'person_delete' familyid=family.familyid pk=family.pk %}">del</a></span>
					      </div>
					    </div>
					  </div>
					</div>
					{% endfor %}
				</div>


{% endblock %}
