{% extends "myApp/_base.html" %}
<!-- -->
{% block content %}
  <div class="container" style="max-width: 540px;">
    <h5 class="text-center">Delete data</h5>
    <p>Data will be deleted. Are you OK?</p>
    <form action="" method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col-12">
          <div class="float-right">
            <a class="btn btn-sm btn-info" href="{% url 'person_list' myLocation=myLocation page=mytarget_scope %}">return</a>
            <input type="submit" class="btn btn-sm btn-danger" value="delete" name="confirm_delete"/>
          </div>
        </div>
      </div>
      {% include "./person_card.html" %}
    </form>
  </div>
{% endblock %}
