<div class="container px-0 mx-0">
  <div class="card border-success border-5 rounded mt-2 py-1 px-0 mx-0"
       style="max-width: 540px; color:#24535F ;background-color:#D9ECDC;">
    <div class="card border-success rounded px-1 mx-1 mt-1 mb-2"
         style="color:#24535F ;background-color:#D9ECDC;border-width: 2px;">
      Family member
    </div>

    <div class="card border-success mx-1 my-2" style="max-width: 540px; color:#24535F ;background-color:#D9ECDC;">
      <div class="row">
        <div class="col-12">
          <div class="card-body py-0">
            <p class="card-text my-0">
              <span>number:</span>
              <span id="size">{{ person.target_pop }}</span>
            </p>
            <p class="card-text my-0">
              <span>energy Requirement:</span>
              <span id="DRI_en">{{ person.myDRI.energy }}</span>
            </p>
            <p class="card-text my-0">
              <span>protein DRI:</span>
              <span id="DRI_pr">{{ person.myDRI.protein }}</span>
            </p>
            <p class="card-text my-0">
              <span>vit-A DRI:</span>
              <span id="DRI_va">{{ person.myDRI.vita }}</span>
            </p>
            <p class="card-text my-0">
              <span>Fe DRI :</span>
              <span id="DRI_fe">{{ person.myDRI.fe }}</span>
            </p>
          </div>
        </div>
      </div>
    </div>


    <div class="col">
      <form>
        <table id="tbl_pop2" class="table table-sm table-info table-striped table-bordered tbl_pop">
          <thead>
          <tr class="bg-info text-white">
            <th style="width:40%">
              <div class="text-center">Class</div>
            </th>
            <th style="width:20%">
              <div class="text-center">male</div>
            </th>
            <th style="width:20%">
              <div class="text-center">female</div>
            </th>
          </tr>
          </thead>
          <tr>
            <td>
              <div class="text-center">age 0-23mon</div>
            </td>
            <td colspan="2" class="px-0">
              <div class="text-center">
                <input id="inpNum_fam0" type="number" class="form-control-sm input-manual num_family2" style="width:90%"
                       placeholder="pop size" value="0" target_scope=2 nut_group_id=1>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="text-center">age 24-59mon</div>
            </td>
            <td colspan="2" class="px-0">
              <div class="text-center">
                <input id="inpNum_fam1" type="number" class="form-control-sm input-manual num_family2" style="width:90%"
                       placeholder="pop size" value="0" target_scope=2 nut_group_id=2>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="text-center">age 6-9 yrs</div>
            </td>
            <td colspan="2" class="px-0">
              <div class="text-center">
                <input id="inpNum_fam2" type="number" class="form-control-sm input-manual num_family2" style="width:90%"
                       placeholder="pop size" value="0" target_scope=2 nut_group_id=3>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="text-center">age 10-17 yrs</div>
            </td>
            <td>
              <div class="text-center">
                <input id="inpNum_fam3" type="number" class="form-control-sm input-manual num_family2" style="width:90%"
                       placeholder="pop size" value="0" target_scope=2 nut_group_id=4>
              </div>
            </td>
            <td>
              <div class="text-center">
                <input id="inpNum_fam4" type="number" class="form-control-sm input-manual num_family2" style="width:90%"
                       placeholder="pop size" value="0" target_scope=2 nut_group_id=5>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="text-center">age 18+</div>
            </td>
            <td>
              <div class="text-center">
                <input id="inpNum_fam5" type="number" class="form-control-sm input-manual num_family2" style="width:90%"
                       placeholder="pop size" value="0" target_scope=2 nut_group_id=6>
              </div>
            </td>
            <td>
              <div class="text-center">
                <input id="inpNum_fam6" type="number" class="form-control-sm input-manual num_family2" style="width:90%"
                       placeholder="pop size" value="0" target_scope=2 nut_group_id=7>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="text-center">pregnant women</div>
            </td>
            <td>
              <div class="text-center">
              </div>
            </td>
            <td>
              <div class="text-center">
                <input id="inpNum_fam7" type="number" class="form-control-sm input-manual" style="width:90%"
                       placeholder="pop size" value="0" target_scope=2 nut_group_id=8>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="text-center">lactating women</div>
            </td>
            <td>
              <div class="text-center">
              </div>
            </td>
            <td>
              <div class="text-center">
                <input id="inpNum_fam8" type="number" class="form-control-sm input-manual" style="width:90%"
                       placeholder="pop size" value="0" target_scope=2 nut_group_id=9>
              </div>
            </td>
          </tr>
          <tr style="color:#ff0080">
            <td>
              <div class="text-center">total pop</div>
            </td>
            <td>
              <div class="text-center">
                <input id="inpNum_fam9" type="number" class="form-control-sm input-auto" disabled style="width:90%"
                       placeholder="pop size" value="0" target_scope=2 nut_group_id=10>
              </div>
            </td>
          </tr>
        </table>
      </form>
      <span>
        <a class="btn mb-2 btn-info btn-sm align-middle "
           href="#">clear</a>
      </span>
    </div>
  </div>
</div>

<script type="text/javascript">
  var myPop = {{ myPop|safe }};
  var myCommunity = {{ myCommunity|safe }};
  var myFamily = {{ myFamily|safe }};
  let url_tmp = window.location.href.split('/');
  url_tmp.pop();
  url_tmp.pop();
  url_tmp.pop();
  url_tmp.pop();
  url_tmp.pop();
  var myRoot = url_tmp.join("/") + '/';

  //////////////////合計
  $('.num_family2').on("input", function () {
    let sum = 0;
    $('.num_family2').each(function () {
      sum += Number($(this).val());
    });
    $('#inpNum_fam9').val(sum);
  });


  //////////////////btn_save_crop
  $('#btn_update2').click(function () {
    let hostUrl = myRoot + 'registPerson/';
    let mydat = getTblData_family();

    // console.log(mydat);
    Set_CRSF();
    sendJson(mydat, hostUrl);
  }); ////////btn_save_crop///////////

  //////////////////getTblData
  function getTblData_family() { //
    let d = [];
    $('#tbl_pop2 tr').each(function (i, myRow) {
      if (i > 0 && i < 8) {
        let dd = {};
        dd['target_scope'] = 2;
        dd["myLocation"] = {{myLocation.id}};
        dd['myuser'] = {{ myuser.id }};
        if (i === 4) {
          for (var j = 1; j < 3; j++) {
            dd['nut_group_id'] = i - 1 + j;
            dd['target_pop'] = $(myRow).children('td').eq(j).find('.input-manual').val();
            d.push(dd);
          }
        } else if (i === 5) {
          for (j = 1; j < 3; j++) {
            dd['nut_group_id'] = i + j;
            dd['target_pop'] = $(myRow).children('td').eq(j).find('.input-manual').val();
            d.push(dd);
          }
        } else if (i === 6 || i === 7) {
          dd['nut_group_id'] = i + 2;
          dd['target_pop'] = $(myRow).children('td').eq(2).find('.input-manual').val();
          d.push(dd);
        } else {
          dd['nut_group_id'] = i;
          dd['target_pop'] = $(myRow).children('td').eq(1).find('.input-manual').val();
          d.push(dd);
        }
      }
    });
    return {"myJson": d};
  }

  //----------------------------------------------------------------------------

  // Print initial value in a div box
  $("#inpNum_fam0").val(myFamily.class0);
  $("#inpNum_fam1").val(myFamily.class1);
  $("#inpNum_fam2").val(myFamily.class2);
  $("#inpNum_fam3").val(myFamily.class3);
  $("#inpNum_fam4").val(myFamily.class4);
  $("#inpNum_fam5").val(myFamily.class5);
  $("#inpNum_fam6").val(myFamily.class6);
  $("#inpNum_fam7").val(myFamily.class7);
  $("#inpNum_fam8").val(myFamily.class8);
  let tmp = myFamily.class0 + myFamily.class1 + myFamily.class2 + myFamily.class3 + myFamily.class4
          + myFamily.class5 + myFamily.class6 + myFamily.class7 + myFamily.class8;
  $("#inpNum_fam9").val(tmp);


</script>
