<div class="container px-0 mx-0">
  <div class="card border-success border-5 rounded mt-2 py-1 px-0 mx-0"
       style="max-width: 540px; color:#24535F ;background-color:#D9ECDC;">
    <div class="card border-success rounded px-1 mx-1 mt-1 mb-2"
         style="color:#24535F ;background-color:#D9ECDC;border-width: 2px;">
      aaa
    </div>
    <div class="col">
      <form>
        <table class="table table-sm table-info table-striped table-bordered">
          <thead>
          <tr class="bg-info text-white">
            <th style="width:40%">
              <div class="text-center">Class</div>
            </th>
            <th style="width:20%">
              <div class="text-center">Pop</div>
            </th>
            <th style="width:20%">
              <div class="text-center">Preg</div>
            </th>
            <th style="width:20%">
              <div class="text-center">BF</div>
            </th>
          </tr>
          </thead>
          <tr>
            <td>
              <div class="text-center">age 0-5mon</div>
            </td>
            <td>
              <div class="text-center">
                <input type="number" class="form-control-sm input-manual" disabled style="width:90%"
                       placeholder="pop size" value="30">
              </div>
            </td>
            <td>
              <div class="text-center"></div>
            </td>
            <td>
              <div class="text-center"></div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="text-center">age 0-23mon</div>
            </td>
            <td>
              <div class="text-center">
                <input type="number" disabled class="form-control-sm input-manual" style="width:90%"
                       placeholder="pop size" value="30">
              </div>
            </td>
            <td>
              <div class="text-center"></div>
            </td>
            <td>
              <div class="text-center"></div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="text-center">age 24-59mon</div>
            </td>
            <td>
              <div class="text-center">
                <input type="number" disabled class="form-control-sm input-manual" style="width:90%"
                       placeholder="portion size" value="30">
              </div>
            </td>
            <td>
              <div class="text-center"></div>
            </td>
            <td>
              <div class="text-center"></div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="text-center">age 6-9 yrs</div>
            </td>
            <td>
              <div class="text-center">
                <input type="number" disabled class="form-control-sm input-manual" style="width:90%"
                       placeholder="portion size" value="30">
              </div>
            </td>
            <td>
              <div class="text-center"></div>
            </td>
            <td>
              <div class="text-center"></div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="text-center">age 10-17 yrs</div>
            </td>
            <td>
              <div class="text-center">
                <input type="number" disabled class="form-control-sm input-manual" style="width:90%"
                       placeholder="portion size" value="30">
              </div>
            </td>
            <td>
              <div class="text-center">
                <input type="number" disabled class="form-control-sm input-manual" style="width:90%"
                       placeholder="portion size" value="30">
              </div>
            </td>
            <td>
              <div class="text-center">
                <input type="number" disabled class="form-control-sm input-manual" style="width:90%"
                       placeholder="portion size" value="30">
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="text-center">age 18+</div>
            </td>
            <td>
              <div class="text-center">
                <input type="number" disabled class="form-control-sm input-manual" style="width:90%"
                       placeholder="portion size" value="30">
              </div>
            </td>
            <td>
              <div class="text-center">
                <input type="number" disabled class="form-control-sm input-manual" style="width:90%"
                       placeholder="portion size" value="30">
              </div>
            </td>
            <td>
              <div class="text-center">
                <input type="number" disabled class="form-control-sm input-manual" style="width:90%"
                       placeholder="portion size" value="30">
              </div>
            </td>
          </tr>
          <tr style="color:#ff0080">
            <td>
              <div class="text-center">total pop</div>
            </td>
            <td>
              <div class="text-center">
                <input type="number" class="form-control-sm input-auto" style="width:90%"
                       placeholder="portion size" value="30">
              </div>
            </td>
            <td colspan="2">
              <div class="text-center">
                <input type="checkbox" id="chk-autoCalk" checked>
                <label for="auto-calk" class="ml-1"> auto calculate</label>
              </div>
            </td>
          </tr>
        </table>
      </form>
    </div>

  </div>
</div>

<script type="text/javascript">
  $('#chk-autoCalk').change(function() {
    if ($('#chk-autoCalk').prop('checked')) {
      $('.input-manual').prop('disabled', true);
      $('.input-auto').prop('disabled', false);
    } else {
      $('.input-manual').prop('disabled',false);
      $('.input-auto').prop('disabled', true);
    }
  })



</script>
