<div class="container px-0 mx-0">
  <div class="card border-success border-5 rounded mt-2 py-1 px-0 mx-0"
       style="max-width: 540px; color:#24535F ;background-color:#D9ECDC;">
    <div class="card border-success rounded px-1 mx-1 mt-1 mb-2"
         style="color:#24535F ;background-color:#D9ECDC;border-width: 2px;">
      Family member
    </div>

    <div class="card border-success mx-1 my-2" style="max-width: 540px; color:#24535F ;background-color:#D9ECDC;">
      <div class="row">
        <div class="col-12">
          <div class="card-body py-0">
            <p class="card-text my-0">
            <div class="row">
              <div class="col-4">
                number
              </div>
              <div class="col-8">
                <a id="size2">{{ person.target_pop }}</a>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                energy
              </div>
              <div class="col-8">
                <a id="DRI2_en">{{ person.myDRI.energy }}</a>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                protein
              </div>
              <div class="col-8">
                <a id="DRI2_pr">{{ person.myDRI.protein }}</a>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                vit-A
              </div>
              <div class="col-8">
                <a id="DRI2_va">{{ person.myDRI.vita }}</a>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                Fe
              </div>
              <div class="col-8">
                <a id="DRI2_fe"></a>
              </div>
            </div>
            </p>
          </div>
        </div>
      </div>
    </div>


    <div class="col">
      <form>
        <table id="tbl_pop2" class="table table-sm table-info table-striped table-bordered tbl_pop">
          <thead>
          <tr class="bg-info text-white">
            <th style="width:40%">
              <div class="text-center">Class</div>
            </th>
            <th style="width:20%">
              <div class="text-center">male</div>
            </th>
            <th style="width:20%">
              <div class="text-center">female</div>
            </th>
          </tr>
          </thead>
          <tr>
            <td>
              <div class="text-center">age 0-23mon</div>
            </td>
            <td colspan="2" class="px-0">
              <div class="text-center">
                <input id="inpNum_fam0" type="number" class="form-control-sm input-manual num_family2" style="width:90%"
                       placeholder="pop size" value="0" target_scope=2 nut_group_id=1>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="text-center">age 24-59mon</div>
            </td>
            <td colspan="2" class="px-0">
              <div class="text-center">
                <input id="inpNum_fam1" type="number" class="form-control-sm input-manual num_family2" style="width:90%"
                       placeholder="pop size" value="0" target_scope=2 nut_group_id=2>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="text-center">age 6-9 yrs</div>
            </td>
            <td colspan="2" class="px-0">
              <div class="text-center">
                <input id="inpNum_fam2" type="number" class="form-control-sm input-manual num_family2" style="width:90%"
                       placeholder="pop size" value="0" target_scope=2 nut_group_id=3>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="text-center">age 10-17 yrs</div>
            </td>
            <td>
              <div class="text-center">
                <input id="inpNum_fam3" type="number" class="form-control-sm input-manual num_family2" style="width:90%"
                       placeholder="pop size" value="0" target_scope=2 nut_group_id=4>
              </div>
            </td>
            <td>
              <div class="text-center">
                <input id="inpNum_fam4" type="number" class="form-control-sm input-manual num_family2" style="width:90%"
                       placeholder="pop size" value="0" target_scope=2 nut_group_id=5>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="text-center">age 18+</div>
            </td>
            <td>
              <div class="text-center">
                <input id="inpNum_fam5" type="number" class="form-control-sm input-manual num_family2" style="width:90%"
                       placeholder="pop size" value="0" target_scope=2 nut_group_id=6>
              </div>
            </td>
            <td>
              <div class="text-center">
                <input id="inpNum_fam6" type="number" class="form-control-sm input-manual num_family2" style="width:90%"
                       placeholder="pop size" value="0" target_scope=2 nut_group_id=7>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="text-center">pregnant women</div>
            </td>
            <td>
              <div class="text-center">
              </div>
            </td>
            <td>
              <div class="text-center">
                <input id="inpNum_fam7" type="number" class="form-control-sm input-manual" style="width:90%"
                       placeholder="pop size" value="0" target_scope=2 nut_group_id=8>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="text-center">lactating women</div>
            </td>
            <td>
              <div class="text-center">
              </div>
            </td>
            <td>
              <div class="text-center">
                <input id="inpNum_fam8" type="number" class="form-control-sm input-manual" style="width:90%"
                       placeholder="pop size" value="0" target_scope=2 nut_group_id=9>
              </div>
            </td>
          </tr>
          <tr style="color:#ff0080">
            <td>
              <div class="text-center">total pop</div>
            </td>
            <td>
              <div class="text-center">
                <input id="inpNum_fam9" type="number" class="form-control-sm input-auto" disabled style="width:90%"
                       placeholder="pop size" value="0" target_scope=2 nut_group_id=10>
              </div>
            </td>
          </tr>
        </table>
      </form>
      <span>
        <a tab_clear="#tab2_link" class="btn mb-2 btn-info btn-sm align-middle btn-clear"
           href="#">clear</a>
      </span>
    </div>
  </div>
</div>

