<div class="container px-0 mx-0">
  <div class="card border-success border-5 rounded mt-2 py-1 px-0 mx-0"
       style="max-width: 540px; color:#24535F ;background-color:#D9ECDC;">
    <div class="card border-success rounded px-1 mx-1 mt-1 mb-2"
         style="color:#24535F ;background-color:#D9ECDC;border-width: 2px;">
      Population structure of target area
    </div>

    <div class="card border-success mx-1 my-2" style="max-width: 540px; color:#24535F ;background-color:#D9ECDC;">
      <div class="row">
        <div class="col-12">
          <div class="card-body py-0">
            <p class="card-text my-0">
              <span>number:</span>
              <span id="size">{{ person.target_pop }}</span>
            </p>
            <p class="card-text my-0">
              <span>energy Requirement:</span>
              <span id="DRI_en">{{ person.myDRI.energy }}</span>
            </p>
            <p class="card-text my-0">
              <span>protein DRI:</span>
              <span id="DRI_pr">{{ person.myDRI.protein }}</span>
            </p>
            <p class="card-text my-0">
              <span>vit-A DRI:</span>
              <span id="DRI_va">{{ person.myDRI.vita }}</span>
            </p>
            <p class="card-text my-0">
              <span>Fe DRI :</span>
              <span id="DRI_fe">{{ person.myDRI.fe }}</span>
            </p>
          </div>
        </div>
      </div>
    </div>


    <div class="col">
      <form>
        <table id="tbl_pop3" class="table table-sm table-info table-striped table-bordered tbl_pop">
          <thead>
          <tr class="bg-info text-white">
            <th style="width:40%">
              <div class="text-center">Class</div>
            </th>
            <th style="width:20%">
              <div class="text-center">male</div>
            </th>
            <th style="width:20%">
              <div class="text-center">female</div>
            </th>
          </tr>
          </thead>
          <tr>
            <td>
              <div class="text-center">age 0-23mon</div>
            </td>
            <td>
              <div class="text-center">
                <input id="inpNum0" type="number" disabled class="form-control-sm input-manual num_family3"
                       style="width:90%"
                       placeholder="pop size" value="30" target_scope=3 nut_group_id=1>
              </div>
            </td>
            <td>
              <div class="text-center"></div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="text-center">age 24-59mon</div>
            </td>
            <td>
              <div class="text-center">
                <input id="inpNum1" type="number" disabled class="form-control-sm input-manual num_family3"
                       style="width:90%"
                       placeholder="pop size" value="30" target_scope=3 nut_group_id=2>
              </div>
            </td>
            <td>
              <div class="text-center"></div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="text-center">age 6-9 yrs</div>
            </td>
            <td>
              <div class="text-center">
                <input id="inpNum2" type="number" disabled class="form-control-sm input-manual num_family3"
                       style="width:90%"
                       placeholder="pop size" value="30" target_scope=3 nut_group_id=3>
              </div>
            </td>
            <td>
              <div class="text-center"></div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="text-center">age 10-17 yrs</div>
            </td>
            <td>
              <div class="text-center">
                <input id="inpNum3" type="number" disabled class="form-control-sm input-manual num_family3"
                       style="width:90%"
                       placeholder="pop size" value="30" target_scope=3 nut_group_id=4>
              </div>
            </td>
            <td>
              <div class="text-center">
                <input id="inpNum4" type="number" disabled class="form-control-sm input-manual num_family3"
                       style="width:90%"
                       placeholder="pop size" value="30" target_scope=3 nut_group_id=5>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="text-center">age 18+</div>
            </td>
            <td>
              <div class="text-center">
                <input id="inpNum5" type="number" disabled class="form-control-sm input-manual num_family3"
                       style="width:90%"
                       placeholder="pop size" value="30" target_scope=3 nut_group_id=6>
              </div>
            </td>
            <td>
              <div class="text-center">
                <input id="inpNum6" type="number" disabled class="form-control-sm input-manual num_family3"
                       style="width:90%"
                       placeholder="pop size" value="30" target_scope=3 nut_group_id=7>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="text-center">pregnant</div>
            </td>
            <td>
              <div class="text-center">
              </div>
            </td>
            <td>
              <div class="text-center">
                <input id="inpNum7" type="number" disabled class="form-control-sm input-manual" style="width:90%"
                       placeholder="pop size" value="30" target_scope=3 nut_group_id=8>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="text-center">lactating</div>
            </td>
            <td>
              <div class="text-center">
              </div>
            </td>
            <td>
              <div class="text-center">
                <input id="inpNum8" type="number" disabled class="form-control-sm input-manual" style="width:90%"
                       placeholder="pop size" value="30" target_scope=3 nut_group_id=9>
              </div>
            </td>
          </tr>
          <tr style="color:#ff0080">
            <td>
              <div class="text-center">total pop</div>
            </td>
            <td>
              <div class="text-center">
                <input id="inpNum9" type="number" class="form-control-sm input-auto" style="width:90%"
                       placeholder="pop size" value="30" target_scope=3 nut_group_id=10>
              </div>
            </td>
            <td colspan="2">
              <div class="text-center">
                <input type="checkbox" id="chk-autoCalk" checked>
                <label for="auto-calk" class="ml-1"> auto calculate</label>
              </div>
            </td>
          </tr>
        </table>
      </form>
      <span>
        <a class="btn mb-2 btn-info btn-sm align-middle "
           href="#">clear</a>
      </span>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#chk-autoCalk').change(function () {
    if ($('#chk-autoCalk').prop('checked')) {
      $('.input-manual').prop('disabled', true);
      $('.input-auto').prop('disabled', false);
    } else {
      $('.input-manual').prop('disabled', false);
      $('.input-auto').prop('disabled', true);
    }
  });

  //////////////////合計
  $('.num_family3').on("input", function () {
    let sum = 0;
    $('.num_family3').each(function () {
      sum += Number($(this).val());
    });
    console.log('changed:' + sum);
    $('#inpNum9').val(sum);
  });


  $("#inpNum9").on("input", function () {
    // Print entered value in a div box
    $("#inpNum0").val(Math.round($(this).val() * myPop.class0 / 100));
    $("#inpNum1").val(Math.round($(this).val() * myPop.class1 / 100));
    $("#inpNum2").val(Math.round($(this).val() * myPop.class2 / 100));
    $("#inpNum3").val(Math.round($(this).val() * myPop.class4 / 100));
    $("#inpNum4").val(Math.round($(this).val() * myPop.class3 / 100));
    $("#inpNum5").val(Math.round($(this).val() * myPop.class6 / 100));
    $("#inpNum6").val(Math.round($(this).val() * myPop.class5 / 100));
    $("#inpNum7").val(Math.round($(this).val() * (myPop.class3_p + myPop.class5_p) / 100));
    $("#inpNum8").val(Math.round($(this).val() * (myPop.class3_l + myPop.class3_l) / 100));
  });

  //////////////////btn_save_crop
  $('#btn_update3').click(function () {
    let hostUrl = myRoot + 'registPerson/';
    let mydat = getTblData();

    console.log(mydat);
    Set_CRSF();
    sendJson(mydat, hostUrl);
  }); ////////btn_save_crop///////////

  //////////////////getTblData
  function getTblData() { //
    let d = [];
    $('#tbl_pop2 tr').each(function (i, myRow) {
      if (i > 0 && i < 8) {
        let dd = {};
        dd['target_scope'] = 3;
        dd["myLocation"] = {{myLocation.id}};
        dd['myuser'] = {{ myuser.id }};
        if (i === 4) {
          for (var j = 1; j < 3; j++) {
            dd['nut_group_id'] = i - 1 + j;
            dd['target_pop'] = $(myRow).children('td').eq(j).find('.input-manual').val();
            d.push(dd);
          }
        } else if (i === 5) {
          for (j = 1; j < 3; j++) {
            dd['nut_group_id'] = i + j;
            dd['target_pop'] = $(myRow).children('td').eq(j).find('.input-manual').val();
            d.push(dd);
          }
        } else if (i === 6 || i === 7) {
          dd['nut_group_id'] = i + 2;
          dd['target_pop'] = $(myRow).children('td').eq(2).find('.input-manual').val();
          d.push(dd);
        } else {
          dd['nut_group_id'] = i;
          dd['target_pop'] = $(myRow).children('td').eq(1).find('.input-manual').val();
          d.push(dd);
        }
      }
    });
    return {"myJson": d};
  }

  //////////////////getTblData //// csrf_tokenの取得に使う//////////////
  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
        var cookie = jQuery.trim(cookies[i]);
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }

  //------------------------------------
  function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }

  //------------------------------------
  function Set_CRSF() {
    var csrf_token = getCookie("csrftoken");
    $.ajaxSetup({
      crossDomain: false, // obviates need for sameOrigin test
      beforeSend: function (xhr, settings) {
        if (!csrfSafeMethod(settings.type)) {
          xhr.setRequestHeader("X-CSRFToken", csrf_token);
        }
      }
    });
  }

  //////////////////sendJson////
  function sendJson(myjson, hostUrl) {
    $.ajax({
      type: 'post',
      url: hostUrl,
      data: JSON.stringify(myjson),
      contentType: 'application/JSON',
      dataType: 'JSON',
      scriptCharset: 'utf-8',
      success: function (response) {
        window.location.href = response.url;
      },
      error: function (jqXHR, textStatus, errorThrown) {
        alert("fail");
        console.log(jqXHR.responseText);
        console.log(jqXHR.status); //例：404
        console.log(textStatus); //例：error
        console.log(errorThrown); //例：NOT FOUND
        console.log(JSON.stringify(myjson)); //例：NOT FOUND
        console.log(myjson); //例：NOT FOUND
      }
    });
  }//////////////////sendJson//// scfript end///////////////////
  // Print initial value in a div box
  $("#inpNum0").val(myCommunity.class0);
  $("#inpNum1").val(myCommunity.class1);
  $("#inpNum2").val(myCommunity.class2);
  $("#inpNum3").val(myCommunity.class3);
  $("#inpNum4").val(myCommunity.class4);
  $("#inpNum5").val(myCommunity.class5);
  $("#inpNum6").val(myCommunity.class6);
  $("#inpNum7").val(myCommunity.class7);
  $("#inpNum8").val(myCommunity.class8);
  tmp = myCommunity.class0 + myCommunity.class1 + myCommunity.class2 + myCommunity.class3 + myCommunity.class4
          + myCommunity.class5 + myCommunity.class6;
  $("#inpNum9").val(tmp);

</script>
