<div class="container px-0 mx-0">
  <div class="card border-success border-5 rounded mt-2 py-1 px-0 mx-0"
       style="max-width: 540px; color:#24535F ;background-color:#D9ECDC;">
    <div class="card border-success rounded px-1 mx-1 mt-1 mb-2"
         style="color:#24535F ;background-color:#D9ECDC;border-width: 2px;">
      Composition of target population
    </div>

    <div class="card border-success mx-1 my-2" style="max-width: 540px; color:#24535F ;background-color:#D9ECDC;">
      <div class="row">
        <div class="col-12">
          <div class="card-body py-0">
            <p class="card-text my-0">

              {% comment %}
            <div class="row">
              <div class="col-4">
                number
              </div>
              <div class="col-8">
                <a id="size3">{{ person.target_pop }}</a>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                energy
              </div>
              <div class="col-8">
                <a id="DRI3_en">{{ person.myDRI.energy }}</a>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                protein
              </div>
              <div class="col-8">
                <a id="DRI3_pr">{{ person.myDRI.protein }}</a>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                vit-A
              </div>
              <div class="col-8">
                <a id="DRI3_va">{{ person.myDRI.vita }}</a>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                Fe
              </div>
              <div class="col-8">
                <a id="DRI3_fe"></a>
              </div>
            </div>
{% endcomment %}

            </p>
          </div>
        </div>
      </div>
    </div>


    <div class="col">
      <form>
        <table id="tbl_pop3" class="table table-sm table-info table-striped table-bordered tbl_pop">
          <thead>
          <tr class="bg-info text-white">
            <th style="width:40%">
              <div class="text-center">Class</div>
            </th>
            <th style="width:20%">
              <div class="text-center">male</div>
            </th>
            <th style="width:20%">
              <div class="text-center">female</div>
            </th>
          </tr>
          </thead>
          <tr>
            <td>
              <div class="text-center">age 6-23mon</div>
            </td>
            <td>
              <div class="text-center">
                <input id="inpNum0" type="number" class="form-control-sm input-manual num_family3"
                       style="width:90%"
                       placeholder="pop size" value="30" target_scope=0 nut_group_id=1>
              </div>
            </td>
            <td>
              <div class="text-center"></div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="text-center">age 24-59mon</div>
            </td>
            <td>
              <div class="text-center">
                <input id="inpNum1" type="number" class="form-control-sm input-manual num_family3"
                       style="width:90%"
                       placeholder="pop size" value="30" target_scope=1 nut_group_id=2>
              </div>
            </td>
            <td>
              <div class="text-center"></div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="text-center">age 6-9 yrs</div>
            </td>
            <td>
              <div class="text-center">
                <input id="inpNum2" type="number" class="form-control-sm input-manual num_family3"
                       style="width:90%"
                       placeholder="pop size" value="30" target_scope=2 nut_group_id=3>
              </div>
            </td>
            <td>
              <div class="text-center"></div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="text-center">age 10-17 yrs</div>
            </td>
            <td>
              <div class="text-center">
                <input id="inpNum3" type="number" class="form-control-sm input-manual num_family3"
                       style="width:90%"
                       placeholder="pop size" value="30" target_scope=3 nut_group_id=4>
              </div>
            </td>
            <td>
              <div class="text-center">
                <input id="inpNum4" type="number" class="form-control-sm input-manual num_family3"
                       style="width:90%"
                       placeholder="pop size" value="30" target_scope=4 nut_group_id=5>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="text-center">age 18+</div>
            </td>
            <td>
              <div class="text-center">
                <input id="inpNum5" type="number" class="form-control-sm input-manual num_family3"
                       style="width:90%"
                       placeholder="pop size" value="30" target_scope=5 nut_group_id=6>
              </div>
            </td>
            <td>
              <div class="text-center">
                <input id="inpNum6" type="number" class="form-control-sm input-manual num_family3"
                       style="width:90%"
                       placeholder="pop size" value="30" target_scope=6 nut_group_id=7>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="text-center">pregnant</div>
            </td>
            <td>
              <div class="text-center">
              </div>
            </td>
            <td>
              <div class="text-center">
                <input id="inpNum7" type="number" class="form-control-sm input-manual num_family3"
                       style="width:90%"
                       placeholder="pop size" value="30" target_scope=7 nut_group_id=8>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="text-center">lactating</div>
            </td>
            <td>
              <div class="text-center">
              </div>
            </td>
            <td>
              <div class="text-center">
                <input id="inpNum8" type="number" class="form-control-sm input-manual num_family3"
                       style="width:90%"
                       placeholder="pop size" value="30" target_scope=8 nut_group_id=9>
              </div>
            </td>
          </tr>
          <tr style="color:#ff0080">
            <td>
              <div class="text-center">total pop</div>
            </td>
            <td>
              <div class="text-center">
                <input id="inpNum9" type="number" disabled class="form-control-sm input-auto" style="width:90%"
                       placeholder="pop size" value="30" target_scope=9 nut_group_id=10>
              </div>
            </td>
            <td>
            </td>
          </tr>
          <tr>
            <td colspan="3">input method:
              <input type="checkbox" id="chk-autoCalk" data-toggle="toggle" data-on="individual"
                     class="replicator class-myNum" data-off="auto-calc" data-width="100"
                     data-size="xs">
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</div>
