{% extends "myApp/_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  {{ form.certifications.errors }}
  <div class="container" style="max-width: 540px;">
    <form method="post" id="myform">
      {% csrf_token %}
      <h5 class="text-center">Information for Target Group</h5>
      <div class="card border-success col-12 my-2" style="max-width: 540px; color:#24535F ;background-color:#D9ECDC;">
        <div class="row">
          <div class="col-12">
            <div class="card-body py-0 px-0">
              <div class="row">
                <div class="col-12">
                  {{ form|crispy }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="float-right">
            <a class="btn btn-sm btn-info mb-2" href="{% url 'person_list' myLocation=myLocation %}">return</a>
            <button class="btn btn-sm btn-info mb-2" type="submit">save</button>
          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
