{% extends 'myApp/_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="container bg-light" style="max-width: 540px;">

    <form method="post">
      {% csrf_token %}
      {{ user_form|crispy }}
      {{ profile_form|crispy }}
      <button style="background-color:#F4EB16; color:blue" class="btn btn-outline-info" type="submit">
        {% if is_register %} Register {% else %}
        Save changes {% endif %}
      </button>
    </form>

  </div>
{% endblock %}
