{% extends 'myApp/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="container bg-light" style="max-width: 540px;">

    <h1>User Registration</h1>
    <br/>
    <form method="POST">
      {% csrf_token %}
      {{ form|crispy }}
      <button style="background-color:#F4EB16; color:blue" class="btn btn-outline-info" type="submit">Register</button>
    </form>

    If you already have an account
    <a href="{% url 'login' %}" target="blank">
      <strong>login</strong>
    </a>
    instead.
  </div>

{% endblock %}
