{% extends 'myApp/base.html' %}
{% load static %}
{% block content %}

  <!-- myapp/mymodel_list.html -->

  <!-- Load dependencies -->
  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'DataTables/js/jquery.dataTables.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'DataTables/css/jquery.dataTables.min.css' %}" media="screen">

  <!-- Load js for initializing tables via their server-side options -->
  <script type="text/javascript" charset="utf8" src="{% static 'js/datatableview.js' %}"></script>
  <script type="text/javascript">
    $(function () {
      datatableview.initialize($('.datatable'));
    });
  </script>

  <!-- Render the table skeleton, includes the .datatable class for the on-ready initializer. -->
  <div class="container" style="max-width: 540px;">
    <table class="datatable display compact" cellspacing="0" width="100%">
      <thead>
        <th>Crop</th>
        <th>suit</th>
        <th>H_strt</th>
        <th>H_end</th>
      </thead>
      <tbody>
        <th>Food_name</th>
        <th>suitable_class</th>
        <th>Hrv_strt</th>
        <th>Hrv_end</th>
      </tbody>
    </table>
  </div>
  {{datatable.Food_name}}

{% endblock %}
