{% extends 'myApp/base.html' %}
{% load static %}

{% block content %}


<button type="button" id="button" >select count</button>

<div class="container" style="max-width: 540px;">
		<div class="card border-primary col-12 mt-2" style="max-width: 540px;">
		  <div class="row">
		    <div class="col-4 d-flex align-items-center">
		      <img src="{% static 'img/152053house192.png' %}" class="card-img">
		    </div>
		    <div class="col-8">
		      <div class="card-body bg-light p-2">
		        <h5 class="card-title">
							family.name
						</h5>
						<p class="card-text  text-wrap">
              <div class="h-25">Height 25%</div>
              <div class="h-150">Height 150%</div>
              <div class="h-25">
							  family.sizeaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
              </div>
						</p>
						<p class="card-text">
							family.remark
							crp_list.5
						</p>
		      </div>
		    </div>
		  </div>
		</div>
	</div>

  <script type="text/javascript">
    $('#button').click( function () {
        var s = "318-146-83-1";
        var n = '3';
        window.confirm('http://127.0.0.1:8000/funcTest/'+ n + '/');
        location.href = 'http://127.0.0.1:8000/funcTest/'+ n + '/';
    } );
  </script>

{% endblock %}
