{% load static %}
<script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'DataTables/js/jquery.dataTables.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'DataTables/css/jquery.dataTables.min.css' %}" media="screen">
<script type="text/javascript" src="{% static 'js/expdat.js' %}"></script>


<script>
$(document).ready(function() {
  $('#example').DataTable( {
    "ajax": "{% static 'DataTables/data/mydat.txt' %}",
    "columns": [
        { "data": "name[, ]" },
        { "data": "hr.0" },
        { "data": "office" },
        { "data": "extn" },
        { "data": "hr.2" },
        { "data": "hr.1" }
    ]
  } );

    $('#example tbody').on( 'click', 'tr', function () {
        $(this).toggleClass('selected');
    } );

    $('#button').click( function () {
        alert( table.rows('.selected').data().length +' row(s) selected' );
    } );
} );
</script>



<table id="example" class="display compact" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Extn.</th>
            <th>Start date</th>
            <th>Salary</th>
        </tr>
    </thead>

    <tfoot>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Extn.</th>
            <th>Start date</th>
            <th>Salary</th>
        </tr>
    </tfoot>
</table>
