{% extends 'myApp/base.html' %}
{% load static %}

{% block content %}
<div class="container" style="max-width: 540px;">
		<div class="card border-primary col-12 mt-2" style="max-width: 540px;">
		  <div class="row">
		    <div class="col-4 d-flex align-items-center">
		      <img src="{% static 'img/152053house192.png' %}" class="card-img">
		    </div>
		    <div class="col-8">
		      <div class="card-body bg-light p-2">
		        <h5 class="card-title">
							family.name
						</h5>
						<p class="card-text  text-wrap">
              <div class="h-25">Height 25%</div>
              <div class="h-150">Height 150%</div>
              <div class="h-25">
							  family.sizeaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
              </div>
						</p>
						<p class="card-text">
							family.remark
							crp_list.5
						</p>
		      </div>
		    </div>
		  </div>
		</div>
	</div>

{% endblock %}
