{% extends 'myApp/base.html' %}
{% block content %}
{% load static %}

<div class="container" style="max-width: 540px;">
    <div class="card border-primary col-12 mt-2" >
      <img class="card-img-top w-75 mx-auto" src="{% static 'img/Untder_construction_03.png' %}" alt="メインページ">
      <div class="card-body">
        <h3 class="card-text text-center font-weight-bolder">Sorry...</h3>
        <h3 class="card-text text-center font-weight-bolder">under construction</h3>
      </div>
    </div>
</div>

{% endblock %}
