{% extends 'myApp/base.html' %}
{% block content %}
  {% load static %}

  <div class="container text-white border-primary alert-secondary my-2 py-2" style="max-width: 540px;">
    <div class="card bg-info border-primary col-12 my-2 py-2">
      <h5 class="card-header font-weight-bolder">Objective</h5>
      <div class="card-body">
        <h6 class="card-text text-center">
          NFA tool is designed to support health worker, agricultural extension worker, volunteer, NGO, plus any other group of people who works on nutrition improvement.
        </h6>
        <h6 class="card-text text-center">
          NFA tool try to provide better dietary guidance to local people. (nutritious food item, available and affordable for local people)
        </h6>
        <img class="card-img-top mt-3" src="{% static 'img/NFA_intro01.jpg' %}">
      </div>
    </div>

    <div class="card bg-info border-primary col-12 my-2 py-2">
      <h5 class="card-header font-weight-bolder">Scientific evidence</h5>
      <div class="card-body">
        <h6 class="card-text text-center">
          NFA tool is designed to apply science based information for dietary guidance, (1)Daily nutrition recommendatioon (WHO, FAO) and (2) Nutrition contents in each food item (FAO)
        </h6>
        <img class="card-img-top mt-3" src="{% static 'img/NFA_intro02.jpg' %}">
      </div>
    </div>

    <div class="card bg-info border-primary col-12 my-2 py-2">
      <h5 class="card-header font-weight-bolder">Availability and affordability</h5>
      <div class="card-body">
        <h6 class="card-text text-center">
          through dialogue with local community and crop suitability information,
          NFA tool will identify locally available and affordable food item
        </h6>
        <img class="card-img-top mt-3" src="{% static 'img/NFA_intro03.jpg' %}">
      </div>
    </div>
    <div class="card bg-info border-primary col-12 my-2 py-2">
      <h5 class="card-header font-weight-bolder">Linkage: health and agriculture</h5>
      <div class="card-body">
        <h6 class="card-text text-center">
          NFA tool will link health worker and agriculture worker through identifying
          locally suitable nutrition rich food with required quantity
        </h6>
        <img class="card-img-top mt-3" src="{% static 'img/NFA_intro04.jpg' %}">
      </div>
    </div>
    <a class="btn btn-warning m-auto btn-block" href="{% url 'test' %}">back to main menu</a>

  </div>

{% endblock %}
